<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="alta-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

      .marco{
        padding:5px;
        width:600px;
        height:450px;
        background: white;
        border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        position:relative;
        top:50px;
        left:400px
      }

      .cabecera{
        padding:5px;
        width:600px;
        height:30px;
        background-color: grey;
        border: solid 1px grey;
        color: white;
        position:relative;
        top:50px;
        left:400px
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>


    <div class="col-sm-8 offset-2" hidden$="{{!mostrarRegistrarse}}">

      <form class="needs-validation" novalidate>
        <br><br><br>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre" value="{{nombre::input}}" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Primer Apellido</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="1er Apellido" value="{{primer_apellido::input}}" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Segundo Apellido</label>
            <div class="input-group">
              <input type="text" class="form-control" id="validationCustomUsername" placeholder="2do Apellido" value="{{segundo_apellido::input}}" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDni">Dni</label>
            <input type="text" style='text-transform:uppercase;' class="form-control" id="validationDni" placeholder="Dni" value="{{dni::input}}" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationEmail">Email</label>
            <input type="email" class="form-control" id="validationEmail" placeholder="Email" value="{{email::input}}" required>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationPassWord">Password</label>
            <input type="password" class="form-control" id="validationPassword" placeholder="Password" value="{{password::input}}" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationRepassword">Re-password</label>
            <input type="password" class="form-control" id="validationRepassword" placeholder="Re-password" value="{{repassword::input}}" required>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationTelefono">Teléfono</label>
            <input type="number" class="form-control" id="validationTelefono" placeholder="Telefono" value="{{telefono::input}}" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDireccion">Dirección</label>
            <input type="text" class="form-control" id="validationDireccion" placeholder="Dirección" value="{{direccion::input}}" required>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationPoblacion">Población</label>
            <input type="text" class="form-control" id="validationPoblacion" placeholder="Población" value="{{poblacion::input}}" required>

          </div>
          <div class="col-md-3 mb-3">
            <label for="validationProvincia">State</label>
            <input type="text" class="form-control" id="validationProvincia" placeholder="Provincia" value="{{provincia::input}}" required>

          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCodigoPostal">Zip</label>
            <input type="text" class="form-control" id="validationCodigoPostal" placeholder="Código Postal" value="{{codigopostal::input}}" required>
          </div>
        </div>
      </form>

      <botones-alta-cliente  id="receiver"
                  is-datos-rellenos="[[isDatosRellenos]]"
                  mostrar-registrarse="[[mostrarRegistrarse]]"
                  on-eventconectado="_lanzaEventoConectado"
                  on-eventvolveraltacliente="_lanzaEventoVolverAltaCliente">
      </botones-alta-cliente>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCliente extends Polymer.Element {
      static get is() { return 'alta-cliente'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            observer:"_dataChanged",
            value:""
          },primer_apellido: {
            type: String,
            observer:"_dataChanged",
            value:""
          },segundo_apellido: {
            type: String,
            observer:"_dataChanged",
            value:""
          },dni: {
            type: String,
            observer:"_dataChanged",
            value:""
          },email: {
            type: String,
            observer:"_dataChanged",
            value:""
          },password: {
            type: String,
            observer:"_dataChanged",
            value:""
          },repassword: {
            type: String,
            observer:"_dataChanged",
            value:""
          },genero: {
            type: Number,
            observer:"_dataChanged"
          },telefono: {
            type: Number,
            observer:"_dataChanged",
            value: ""
          },direccion: {
            type: String,
            observer:"_dataChanged",
            value:""
          },poblacion: {
            type: String,
            observer:"_dataChanged",
            value:""
          },provincia: {
            type: String,
            observer:"_dataChanged",
            value:""
          },codigopostal: {
            type: Number,
            observer:"_dataChanged",
            value:""
          },isLogged: {
            value:false,
            type:Boolean
          }, mensaje: {
            type: String
          },dialogOpen: {
             type: Boolean
          },isDatosRellenos: {
            value:false,
            type:Boolean
          }
        }
      }

      _dataChanged() {

        this.$.receiver.dni      = this.dni;
        this.$.receiver.email    = this.email;
        this.$.receiver.password = this.password;
        this.$.receiver.repassword = this.repassword;
        this.$.receiver.nombre   = this.nombre;
        this.$.receiver.primer_apellido = this.primer_apellido;
        this.$.receiver.segundo_apellido = this.segundo_apellido;
        this.$.receiver.genero        = this.genero;
        this.$.receiver.telefono      = this.telefono;
        this.$.receiver.direccion     = this.direccion;
        this.$.receiver.poblacion     = this.poblacion;
        this.$.receiver.provincia     = this.provincia;
        this.$.receiver.codigopostal  = this.codigopostal;
        // console.log("this.$.receiver.dni", this.$.receiver.dni);
        // console.log(this.$.receiver.email);
        // console.log(this.$.receiver.nombre);
        // console.log(this.$.receiver.password);
        // console.log(this.$.receiver.repassword);
        // console.log(this.$.receiver.primer_apellido);
        // console.log(this.$.receiver.segundo_apellido);
        // console.log(this.$.receiver.telefono);
        // console.log(this.$.receiver.direccion);
        // console.log(this.$.receiver.poblacion);
        // console.log(this.$.receiver.provincia);
        // console.log(this.$.receiver.codigopostal);
        // console.log("isDatosRellenos", this.isDatosRellenos);

        this.isDatosRellenos = false;

        if (this.$.receiver.nombre            != "" &&
            this.$.receiver.email             != "" &&
            this.$.receiver.password          != "" &&
            this.$.receiver.repassword        != "" &&
            this.$.receiver.primer_apellido   != "" &&
            this.$.receiver.segundo_apellido  != "" &&
            this.$.receiver.telefono          != 0 &&
            this.$.receiver.telefono          != "" &&
            this.$.receiver.direccion         != "" &&
            this.$.receiver.poblacion         != "" &&
            this.$.receiver.provincia         != "" &&
            this.$.receiver.codigopostal      != 0  &&
            this.$.receiver.codigopostal      != "") {
               this.isDatosRellenos = true;
        }
      }

      _lanzaEventoConectado(e) {

        console.log("_lanzaEventoConectado");
        console.log(e);
        console.log(e.detail);

        this.dispatchEvent(
          new CustomEvent(
            "eventconectado",
            {
               "detail": {
                 // ponemos lo que queramos que llegue al exterior
                 "idUsuario": e.detail.idUsuario
               }
            }
          )
        )
      }

      _lanzaEventoVolverAltaCliente(e) {

        console.log("_lanzaEventoVolverAltaCliente");
        console.log(e);
        console.log(e.detail);

        this.dispatchEvent(
          new CustomEvent(
            "eventvolveraltacliente",
            {}
          )
        )
      }
    }

    window.customElements.define(AltaCliente.is, AltaCliente);
  </script>
</dom-module>
