<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="criterios-busqueda-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }

      .marco{
        padding:5px;
        width:225px;
        height:300px;
        background: white;
        border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        text-align: center;
        position:relative;
        top:50px;
        left:400px
      }

      .cabecera{
        padding:5px;
        width:225px;
        height:30px;
        background-color: grey;
        border: solid 1px grey;
        color: white;
        position:relative;
        top:50px;
        left:400px
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <dom-bind id="dialog-example">
      <template>
        <vaadin-dialog id="dialog" no-close-on-esc no-close-on-outside-click>
          <template>
            <div>[[mensaje]]</div>
            <br>
            <vaadin-button on-click="closeDialog">Ok</vaadin-button>
          </template>
        </vaadin-dialog>
      </template>
    </dom-bind> -->

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>


    <form class="needs-validation" novalidate>
      <br>
      <div class="form-row">
         <label for="Fecha01" class="col-form-label">FechaDesde</label>
         <div class="col-sm-2">
           <input type="date" class="form-date" id="fechadesde" value="{{fechadesde::input}}" required>
         </div>

        <label for="Fecha01" class="col-form-label">Fecha Hasta</label>
        <div class="col-sm-2">
          <input type="date" class="form-date" id="fechahasta" value="{{fechahasta::input}}" required>
        </div>

        <label for="inputImporte" class="col-form-label">Importe Desde</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" value="{{importedesde::input}}" step="0.01" id="inputImporte" placeholder="Importe">
        </div>

        <label for="inputImporte" class="col-form-label">Importe Hasta</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" value="{{importehasta::input}}" step="0.01" id="inputImporte" placeholder="Importe">
        </div>
      </div>

      <!-- <div class="container">
        <br>
       <div class="row">
         <div class="col-sm">
           <button class="btn btn-primary" on-click="buscar">Buscar</button>

         </div>
       </div>
      </div> -->

    </form>

    <botones-criterios-busqueda-movimientos
          id="receiver"
          mostrar-criterios-busqueda-movimientos="[[mostrarCriteriosBusquedaMovimientos]]"
          on-eventbuscarmovimientos="_CriteriosBusquedaMovimientos"
          on-eventvolverbuscarmovimientos="_volverCriteriosBusquedaMovimientos"
          userid=[[userid]]
          idcuenta=[[idcuenta]]>
    </botones-criterios-busqueda-movimientos>


    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CriteriosBusquedaMovimientos extends Polymer.Element {
      static get is() { return 'criterios-busqueda-movimientos'; }
      static get properties() {
        return {
          mensaje: {
            type: String
          },dialogOpen: {
             type: Boolean
          },fechadesde:{
             type:String,
             observer:"_dataChanged"
          },fechahasta:{
             type:String,
             observer:"_dataChanged"
          },importedesde:{
             type:Number,
             observer:"_dataChanged"
          },importehasta:{
             type:Number,
             observer:"_dataChanged"
          }
        }
      }

      _dataChanged() {

        console.log("this.fechadesde",this.fechadesde);
        console.log("this.fechahasta",this.fechahasta);

        this.$.receiver.fechadesde   = this.fechadesde;
        this.$.receiver.fechahasta   = this.fechahasta;
        this.$.receiver.importedesde  = this.importedesde;
        this.$.receiver.importehasta  = this.importehasta;

      }

      _volverCriteriosBusquedaMovimientos() {
        console.log("_volverCriteriosBusquedaMovimientos");

        console.log("lanzo evento eventvolverCriteriosBusquedaMovimientos en criterios-busqueda-movimientos");
        this.dispatchEvent(
           new CustomEvent(
             "eventvolverCriteriosBusquedaMovimientos",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }

      _CriteriosBusquedaMovimientos(e) {
        console.log("_CriteriosBusquedaMovimientos");
        console.log("lanzo evento eventCriteriosBusquedaMovimientos en botones-opciones-cuentas");

        console.log("e.detail.movements:", e.detail.movements);
        this.dispatchEvent(
           new CustomEvent(
             "eventcargarmovimientos",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "movements": e.detail.movements

                }
             }
           )
         )
      }

    }

    window.customElements.define(CriteriosBusquedaMovimientos.is, CriteriosBusquedaMovimientos);
  </script>
</dom-module>
