<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-opciones-movimientos">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <div class="container" hidden$="{{!mostrarCuentas}}">
     <br>
    <div class="row">
      <div class="col-sm offset-4">
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <button class="btn btn-primary" on-click="procesarTransferencia">Transferencia</button>
        <button class="btn btn-primary" on-click="buscadorMovimientos">Buscador Movimientos</button>
      </div>
    </div>
   </div>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesOpcionesMovimientos extends Polymer.Element {
     static get is() { return 'botones-opciones-movimientos'; }
     static get properties() {
       return {
         nombre: {
           type: String
         },primerApellido: {
           type: String
         },userid: {
           type: Number
         },idcuenta: {
           type: Number
         },dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         }

       };
     }


     volver() {

       console.log("volver en botones-opciones-movimientos");

       window.location = "/user/" + this.userid;

     }

     detalleMovimiento() {
       console.log("detalleMovimiento");

      //  console.log("nuevaCuenta en botones-opciones-movimientos");
      //  console.log("userid", this.userid);
       //
       //
      //  console.log("window.location: actualizarperfil/",this.userid);
      //  window.location = "/altacuenta/" + this.userid;

     }

     buscadorMovimientos() {
       console.log("buscadorMovimientos en botones-opciones-movimientos");

       window.location = "/products/" + this.userid + "/accounts/" + this.idcuenta + "/searchmovements"
     }


     procesarTransferencia () {
       console.log("procesarTransferencia");

       window.location = "/products/" + this.userid + "/accounts/" + this.idcuenta + "/transferencia"

     }

    showError(error) {
      // gestionamos el error (en API devolvemos res.status(401))
      console.log("Ha habido un error");
      console.log(error);
    }


    closeDialog() {

      this.dialogOpen = false
      console.log("this.dialogOpen", this.dialogOpen);

      console.log("window.location: actualizarperfil/",this.userid);
      window.location = "/user/" + this.userid;
    }


   }
   window.customElements.define(BotonesOpcionesMovimientos.is, BotonesOpcionesMovimientos);
 </script>
</dom-module>
