<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

      .formiban {
          text-align: center
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>

    <div hidden$="{{!mostrarCuentas}}"> Accounts list: </div>

    <vaadin-grid id="grid" on-active-item-changed="_activeItemChanged" hidden$="{{!mostrarCuentas}}" items="[[accounts]]">

       <vaadin-grid-column width="60px" flex-grow="0">
         <template class="header">#</template>
         <template>[[index]]</template>
         <template class="footer">#</template>
       </vaadin-grid-column>

       <vaadin-grid-column flex-grow="10">
         <template class="header">IBAN</template>
         <template>[[item.iban]]</template>
         <template class="footer">IBAN</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Saldo</template>
         <template>[[item.saldo]]</template>
         <template class="footer">Saldo</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Divisa</template>
         <template>[[item.divisa]]</template>
         <template class="footer">Divisa</template>
       </vaadin-grid-column>
    </vaadin-grid>
    <br>

    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer

     */

    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          accounts:{
            type:Array
          // },
          // idAccount: {
          //   type: Number
          // },iban: {
          //   type: String
          // }, balance: {
          //   type: Number
          }, userid: {
            type: Number
          },dialogOpen: {
             type: Boolean
          },mensaje: {
             type: String
          },contador: {
             type: Number,
             value:0
          }

        }
      }



      showData(data) {
        console.log ("showData");
      //  console.log(data.detail); este no funciona
        console.log(data.detail.response);

        this.accounts=data.detail.response;
      }

      _activeItemChanged (e) {
        console.log ("_activeItemChanged");
        console.log("pinchado en una fila");
        console.log("evento:", e);
        console.log("e.detail.value", e.detail.value);

        // // const grid = document.querySelector('grid');
        // const grid = document.getElementById('grid');
        // console.log("grid",grid);

        const item = e.detail.value;
        console.log("e.target:",e.target);
        e.target.selectedItems = item ? [item] : [];

        // evitar error cuando se carga
        if (this.contador !=0) {
          this.iban = e.detail.value.iban;
          this.idcuenta = e.detail.value.idcuenta;

          console.log("lanzo evento eventcuentaseleccionada en _activeItemChanged");
          this.dispatchEvent(
            new CustomEvent(
             "eventcuentaseleccionada",
              {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "idcuenta": e.detail.value.idcuenta,
                  "idcliente": e.detail.value.idcliente,
                  "saldo": e.detail.value.saldo,
                  "divisa": e.detail.value.divisa,
                  "iban": e.detail.value.iban,

                }
             }
           )
          )
        }
        this.contador +=1;
      }


      showError(data) {
        console.log ("showError");
        this.dialogOpen = true
        this.mensaje ="Up, no tienes cuentas. Anímate a crear una! "
        console.log("this.dialogOpen", this.dialogOpen);
      }

      closeDialog() {
        console.log ("closeDialog");
        this.dialogOpen = false
        console.log("this.dialogOpen", this.dialogOpen);
      }




    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
