<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="visor-cabecera-logout">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:grey;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>
    <!-- <div class="container">
     <div class="row">
       <div class="col-sm"> </div>
       <div class="col-sm"> </div>
       <div class="col-sm">

         <a hidden$="{{isLogged}}" on-click="gestionarLogin">Login</a>
         <a hidden$="{{isLogged}}" href="/registrarse">Registrarse</a>
         <a hidden$="{{!isLogged}}" href="/logout/:id">Logout</a>

       </div>
     </div>
   </div> -->


   <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       <a class="nav-item nav-link" on-click="gestionarLogout">Logout</a>
       <a class="nav-item nav-link" on-click="gestionarPerfil">Perfil</a>
       <a class="nav-item nav-link" on-click="gestionarCambioClave">Cambio Clave</a>
       <a class="nav-item nav-link" on-click="conversorDivisas">Conversor Divisas</a>
     </div>

     <div class="col-sm-4  offset-4">
       <label slot="label">[[nombre]]</label>
       <label slot="label"> [[primerApellido]]</label>
       <!-- <label slot="label">[[userid]]</label> -->
     </div>
   </div>
 </nav>



 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCabeceraLogout extends Polymer.Element {
     static get is() { return 'visor-cabecera-logout'; }
     static get properties() {
       return {
         nombre: {
           type: String
         },primerApellido: {
           type: String
         },userid: {
           type: Number
         },dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         }

       };
     }

      gestionarLogout() {
        console.log("gestionarLogout de visor-cabecera-logout");
        console.log("usario:", this.userid);

        window.location = "/logout/" + this.userid;
     }

     gestionarPerfil() {

      console.log("gestionarPerfil en visor-cabecera-logout");
      console.log("userid", this.userid);

      console.log("window.location: actualizarperfil/",this.userid);
      window.location = "/actualizarperfil/" + this.userid;

    }
     conversorDivisas() {

      console.log("conversorDivisas en visor-cabecera-logout");

      window.location = "/conversorDivisas/" + this.userid;

      //ojo!, no poner mayusculas en nombre de evento

    }
     gestionarCambioClave() {

      console.log("gestionarCambioClave en visor-cabecera-logout");
      console.log("userid", this.userid);

      console.log("window.location: actualizarclave/",this.userid);
      window.location = "/actualizarclave/" + this.userid;

      //ojo!, no poner mayusculas en nombre de evento
      //  this.dispatchEvent(
      //    new CustomEvent(
      //      "eventperfil",
      //      {
      //      }
      //    )
      //  )


    }

    // manageAJAXResponse(data) {
    //   // función manejadora de la respuesta correcta
    //   console.log("API ejecutada");
    //   console.log(data.detail.response);
    //   console.log(data.detail.response.idUsuario);
    //
    //   this.dialogOpen = true
    //   this.mensaje =" Datos guardados con éxito! "
    //   console.log("this.dialogOpen", this.dialogOpen);
    //
    //   // console.log("window.location: user/",data.detail.response.idUsuario);
    //   // window.location = "/user/" + data.detail.response.idUsuario;
    //
    //
    // }
    //
    //
    // showError(error) {
    //   // gestionamos el error (en API devolvemos res.status(401))
    //   console.log("Ha habido un error");
    //   console.log(error);
    // }


    // closeDialog() {
    //
    //   this.dialogOpen = false
    //   console.log("this.dialogOpen", this.dialogOpen);
    //
    //   console.log("window.location: actualizarperfil/",this.userid);
    //   window.location = "/user/" + this.userid;
    // }


   }
   window.customElements.define(VisorCabeceraLogout.is, VisorCabeceraLogout);
 </script>
</dom-module>
