<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

   <title>frontproyecto</title>
   <meta name="description" content="Api molona.">

   <!-- See https://goo.gl/OOhYW5 -->
   <link rel="manifest" href="/manifest.json">

   <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

   <link rel="import" href="/src/frontproyecto-app/frontproyecto-app.html">

   <link rel="import" href="/src/login-usuario/login-usuario.html">
   <link rel="import" href="/src/logout-usuario/logout-usuario.html">
   <!-- <link rel="import" href="/src/test-iron-pages/test-iron-pages.html"> -->
   <!-- <link rel="import" href="/src/emisor-evento/emisor-evento.html"> -->
   <!-- <link rel="import" href="/src/gestor-evento/gestor-evento.html"> -->
   <!-- <link rel="import" href="/src/receptor-evento/receptor-evento.html"> -->
   <link rel="import" href="/src/visor-usuario/visor-usuario.html">
   <link rel="import" href="/src/alta-cliente/alta-cliente.html">
   <link rel="import" href="/src/botones-alta-cliente/botones-alta-cliente.html">
   <link rel="import" href="/src/mantenimiento-cliente/mantenimiento-cliente.html">
   <link rel="import" href="/src/botones-mantenimiento-clientes/botones-mantenimiento-clientes.html">
   <link rel="import" href="/src/visor-cabecera/visor-cabecera.html">
   <link rel="import" href="/src/visor-mapa/visor-mapa.html">
   <link rel="import" href="/src/employee-new/employee-new.html">
   <link rel="import" href="/bower_components/app-router/app-router.html">
   <link rel="import" href="/src/visor-cabecera-logout/visor-cabecera-logout.html">
   <link rel="import" href="/src/recuperar-datos-cliente/recuperar-datos-cliente.html">
   <link rel="import" href="/src/botones-opciones-cuentas/botones-opciones-cuentas.html">
   <link rel="import" href="/src/botones-opciones-movimientos/botones-opciones-movimientos.html">
   <link rel="import" href="/src/alta-cuenta/alta-cuenta.html">
   <link rel="import" href="/src/botones-alta-cuenta/botones-alta-cuenta.html">
   <link rel="import" href="/src/botones-cambio-clave/botones-cambio-clave.html">
   <link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
   <link rel="import" href="/src/buscar-movimientos/buscar-movimientos.html">
   <link rel="import" href="/src/criterios-busqueda-movimientos/criterios-busqueda-movimientos.html">
   <link rel="import" href="/src/botones-criterios-busqueda-movimientos/botones-criterios-busqueda-movimientos.html">
   <link rel="import" href="/src/lista-movimientos/lista-movimientos.html">
   <link rel="import" href="/src/lista-movimientos-buscados/lista-movimientos-buscados.html">
   <link rel="import" href="/src/visor-transferencia/visor-transferencia.html">
   <link rel="import" href="/src/botones-transferencia/botones-transferencia.html">
   <link rel="import" href="/src/historico-transferencias/historico-transferencias.html">
   <link rel="import" href="/src/conversor-divisas/conversor-divisas.html">
   <link rel="import" href="/src/cargo-abono/cargo-abono.html">
   <link rel="import" href="/src/botones-cargo-abono/botones-cargo-abono.html">
 </head>
 <body>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


   <!-- <div class="container">
     <div class="row">
       <div class="col-sm"> </div>
       <div class="col-sm"> </div>
       <div class="col-sm">
         <a hidden$="{{isLogged}}" href="/login">Login</a>
         <a hidden$="{{isLogged}}" href="/registrarse">Registrarse</a>

       </div>
     </div>
   </div>
   <hr style="color: blue" /> -->
<!--
   <visor-cabecera></visor-cabecera> -->
   <!-- <seleccionar-fila></seleccionar-fila> -->


   <!-- <gestor-evento></gestor-evento> -->

   <!-- <test-iron-pages></test-iron-pages> -->
   <!-- <employee-new></employee-new> -->

   <!-- <logout-usuario></logout-usuario> -->

   <!-- <receptor-evento></receptor-evento> -->
   <!-- <emisor-evento></emisor-evento> -->
   <!-- <h1>Bienvenido a su banco</h1 -->


   <!-- <visor-mapa></visor-mapa> -->
   <!-- <login-usuario></login-usuario> -->



   <!-- <logout-usuario></logout-usuario> -->

   <app-router>
     <app-route path="/" import="/src/frontproyecto-app/frontproyecto-app.html"></app-route>
     <app-route path="/login" import="/src/login-usuario/login-usuario.html"></app-route>
     <app-route path="/employee" import="/src/employee-new/employee-new.html"></app-route>
     <app-route path="/user/:id" import="/src/visor-usuario/visor-usuario.html"></app-route>
     <app-route path="/products/:userid/accounts/:idcuenta/movement" import="/src/visor-movimientos/visor-movimientos.html"></app-route>
     <app-route path="/products/:userid/accounts/:idcuenta/searchmovements" import="/src/buscar-movimientos/buscar-movimientos.html"></app-route>
     <app-route path="/seleccionar" import="/src/seleccionar-fila/seleccionar-fila.html"></app-route>
     <app-route path="/logout/:id" import="/src/logout-usuario/logout-usuario.html"></app-route>
     <app-route path="/registrarse" import="/src/alta-cliente/alta-cliente.html"></app-route>
     <app-route path="/actualizarperfil/:userid" import="/src/mantenimiento-cliente/mantenimiento-cliente.html"></app-route>
     <app-route path="/altacuenta/:userid" import="/src/alta-cuenta/alta-cuenta.html"></app-route>
     <app-route path="/actualizarclave/:userid" import="/src/cambio-clave/cambio-clave.html"></app-route>
     <app-route path="/products/:userid/accounts/:idcuenta/transferencia" import="/src/visor-transferencia/visor-transferencia.html"></app-route>
     <app-route path="/conversorDivisas/:userid" import="/src/conversor-divisas/conversor-divisas.html"></app-route>
     <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>

   </app-router>
 </body>
</html>
