<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-opciones-cuentas">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>
    <!-- <div class="container">
     <div class="row">
       <div class="col-sm"> </div>
       <div class="col-sm"> </div>
       <div class="col-sm">

         <a hidden$="{{isLogged}}" on-click="gestionarLogin">Login</a>
         <a hidden$="{{isLogged}}" href="/registrarse">Registrarse</a>
         <a hidden$="{{!isLogged}}" href="/logout/:id">Logout</a>

       </div>
     </div>
   </div> -->

   <div class="container" hidden$="{{!mostrarCuentas}}">
     <br>
    <div class="row">
      <div class="col-sm offset-4">
        <button class="btn btn-primary" on-click="nuevaCuenta">Nueva Cuenta</button>
        <button class="btn btn-primary" on-click="consultaMovimientos">Movimientos</button>
        <button class="btn btn-primary" on-click="cargoAbono">Ingreso/Reintegro</button>
        <button class="btn btn-primary" on-click="procesarTransferencia">Transferencia</button>
      </div>
    </div>
   </div>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesOpcionesCuentas extends Polymer.Element {
     static get is() { return 'botones-opciones-cuentas'; }
     static get properties() {
       return {
         nombre: {
           type: String
         },primerApellido: {
           type: String
         },userid: {
           type: Number
         },dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },refrescarListaCuentas: {
            type: Boolean,
            value:false
         }

       };
     }


     nuevaCuenta() {
       console.log("nuevaCuenta en botones-opciones-cuentas");
       console.log("userid", this.userid);

       console.log("lanzo evento eventnuevacuenta en botones-opciones-cuentas");
       this.refrescarListaCuentas=true;
        this.dispatchEvent(
          new CustomEvent(
            "eventnuevacuenta",
            {
               "detail": {
                 // ponemos lo que queramos que llegue al exterior
                 "userid": this.userid

               }
            }
          )
        )
     }

     consultaMovimientos() {
       console.log("consultaMovimientos en botones-opciones-cuentas");

       this.refrescarListaCuentas=false;
       if (!this.idcuenta) {
         this.mensaje ="Seleccione una cuenta, por favor";
         this.dialogOpen = true;
       } else {
          window.location = "/products/" + this.userid + "/accounts/" + this.idcuenta + "/movement"
         }
     }

     cargoAbono() {
       console.log("cargoAbono");
       console.log("lanzo evento eventcargoabono en botones-opciones-cuentas");

       if (!this.idcuenta) {
         this.mensaje ="Seleccione una cuenta, por favor";
         this.dialogOpen = true;
       } else {
          this.refrescarListaCuentas=true;
          this.dispatchEvent(
            new CustomEvent(
              "eventcargoabono",
              {
                 "detail": {
                   // ponemos lo que queramos que llegue al exterior
                   "userid": this.userid

                 }
              }
            )
          )
        }
     }


     procesarTransferencia () {
       console.log("procesarTransferencia");

       console.log("this.idcuenta:", this.idcuenta);
       console.log("this.idcliente:", this.idcliente);

       this.refrescarListaCuentas=true;
       if (!this.idcuenta) {
         this.mensaje ="Seleccione la cuenta origen de la transferencia";
         this.dialogOpen = true;
         this.refrescarListaCuentas=false;
       } else {
         window.location = "/products/" + this.userid + "/accounts/" + this.idcuenta + "/transferencia"
       }

     }

    showError(error) {
      // gestionamos el error (en API devolvemos res.status(401))
      console.log("Ha habido un error");
      console.log(error);
    }


    closeDialog() {

      this.dialogOpen = false
      console.log("this.dialogOpen", this.dialogOpen);

      if (this.refrescarListaCuentas) {
        console.log("window.location: actualizarperfil/",this.userid);
        window.location = "/user/" + this.userid;
      }
    }


   }
   window.customElements.define(BotonesOpcionesCuentas.is, BotonesOpcionesCuentas);
 </script>
</dom-module>
