<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="buscar-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <visor-cabecera-logout  nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            userid="[[userid]]">
    </visor-cabecera-logout>

    <criterios-busqueda-movimientos  userid="[[userid]]"
                                   idcuenta="[[idcuenta]]"
                                   on-eventcargarmovimientos="_cargarMovimientos">
    </criterios-busqueda-movimientos>


    <lista-movimientos-buscados id="receiver"
                  userid="[[userid]]"
                  idcuenta="[[idcuenta]]">

                  <!-- mostrar-cuentas="[[mostrarCuentas]]"> -->
    </lista-movimientos-buscados>

    <!-- <botones-opciones-movimientos  userid="[[userid]]"
                                   idcuenta="[[idcuenta]]">
    </botones-opciones-movimientos> -->

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v3/users/{{userid}}"
      handle-as="json"
      on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BuscarMovimientos extends Polymer.Element {
      static get is() { return 'buscar-movimientos'; }
      static get properties() {
        return {
          nombre: {
            type: String
          }, primer_apellido: {
              type: String
          }, segundo_apellido: {
              type: String
          }, id: {
              type: Number
          }, mostrarCuentas: {
              type: Boolean,
              value: true
          }
        }
      }
      showData(data) {
        console.log ("showData");
      //  console.log(data.detail); este no funciona
        console.log(data.detail.response);
        // this.$.receiver.mostrarCuentas = true;
        // this.$.receiver2.mostrarPerfil = false;

        this.nombre = data.detail.response.nombre;
        this.primer_apellido = data.detail.response.primer_apellido;
        this.id = data.detail.response.idcliente;
      }

      _cargarMovimientos(e) {
        console.log ("_cargarMovimientos");
        console.log("e.detail.movements",e.detail.movements);
        this.$.receiver.movements = e.detail.movements
      }


    }

    window.customElements.define(BuscarMovimientos.is, BuscarMovimientos);
  </script>
</dom-module>
