<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
        /*border: solid blue;*/
      }

      .redbg{
        background-color: red;
      }

      .greenbg {
        background-color: green;
      }

      .bluebg{
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }

      a{
      color:red;
      }

      a:visited{
      color:green;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <visor-cabecera id="receiver" on-eventlogin="processmostrarLogin" on-eventregistrarse="proccesmostrarRegistrarse"></visor-cabecera>
    <login-usuario  id="receiver2" mostrar-login="[[mostrarLogin]]" on-eventconectado="_lanzaRutaUsuario"></login-usuario>
    <alta-cliente id="receiver3" mostrar-registrarse="[[mostrarRegistrarse]]" on-eventconectado="_lanzaRutaUsuario"
                  on-eventvolveraltacliente="_processVolverAltaCliente"></alta-cliente>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() {
        return 'frontproyecto-app';
      }
      static get properties() {
        return {
          mostrarLogin: {
            type: Boolean,
            value: false
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          mostrarRegistrarse: {
            type: Boolean,
            value: false
          }
        };
      }

      _lanzaRutaUsuario(e) {

        console.log("_lanzaRutaUsuario");
        // console.log("e: ", e);
        // console.log("e.detail: ", e.detail);
        this.$.receiver.isLogged = true;
        console.log("window.location: user/", e.detail.idUsuario);
        window.location = "user/" + e.detail.idUsuario;

        var id = e.detail.idUsuario;

        //  La información se graba en localStorage con el par clave - valor.
        //  Como clave indicamos "userData" y como valor el resultado de convertir a JSON el objeto userData
        //  userData es un Objeto. Lo transformamos en JSON y lo guardamos en localStorage
        console.log("id= " + id);
        //  localStorage.setItem ("userIdJSON",JSON.stringify(id));
        localStorage.setItem("userIdJSON", id);

      }


      processmostrarLogin(e) {
        console.log("processmostrarLogin - Muestra WC Login <login-usuario>");

        console.log(e);
        console.log("Capturado evento de mostrarLogin");
        console.log(e.detail);
        console.log("this.$.receiver2.mostrarLogin", this.$.receiver2.mostrarLogin);
        console.log("this.$.receiver2.mostrarRegistrarse", this.$.receiver2.mostrarRegistrarse);

        this.$.receiver2.mostrarLogin = true;
        this.$.receiver3.mostrarRegistrarse = false;
      }

      proccesmostrarRegistrarse(e) {
        console.log("proccesmostrarRegistrarse - Muestra WC Registrarse <alta-cliente>");

        // console.log(e);
        // console.log("Capturado evento de mostrarRegistrarse");
        // console.log(e.detail);
        this.$.receiver3.mostrarRegistrarse = true;
        this.$.receiver2.mostrarLogin = false;

      }

      _processVolverAltaCliente(e) {
        console.log("_processVolverAltaCliente");

        this.$.receiver3.mostrarRegistrarse = false;
        this.$.receiver2.mostrarLogin = false;
      }

    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
