<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="alta-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }

      .marco{
        padding:5px;
        width:225px;
        height:300px;
        background: white;
        border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        text-align: center;
        position:relative;
        top:50px;
        left:400px
      }

      .cabecera{
        padding:5px;
        width:225px;
        height:30px;
        background-color: grey;
        border: solid 1px grey;
        color: white;
        position:relative;
        top:50px;
        left:400px
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>


    <div class="col-sm-4  offset-4" hidden$="{{!mostrarAltaCuenta}}">
        <br>
        <br>
        <br>

        <div class="form-group row">

          <label for="inputIban" class="col-sm-2 col-form-label">Iban</label>
          <div class="col-sm-7">
            <input type="text" style='text-transform:uppercase;' class="form-control" value="{{iban::input}}" id="inputIban" placeholder="Iban">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputSaldoInicial" class="col-sm-2 col-form-label">Saldo Inicial</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" value="{{saldo::input}}" step="0.01" id="inputSaldoInicial" placeholder="Saldo Inicial">
          </div>
        </div>
        <!-- <div class="form-group row">
          <label for="inputDivisa" class="col-sm-2 col-form-label">Divisa</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" value="{{divisa::input}}" id="inputDivisa" placeholder="Divisa">
          </div>
        </div> -->
        <div class="form-group row">
          <label for="inputDivisa" class="col-sm-2 col-form-label">Divisa</label>
          <div class="col-sm-4">
            <select class="form-control" id="inputDivisa" on-change="_dataChanged">
              <option value="EUR">EUR</option>
              <option value="USD">USD</option>
              <option value="GBP">GBP</option>
              <option value="JPY">JPY</option>
            </select>
          </div>
        <div>
      </form>

      <botones-alta-cuenta
            id="receiver"
            mostrar-alta-cuenta="[[mostrarAltaCuenta]]"
            on-eventaltacuenta="_altacuenta"
            on-eventvolveraltacuenta="_volveraltacuenta"
            userid=[[userid]]>
      </botones-alta-cuenta>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String,
            observer:"_dataChanged"
          },saldo: {
            type: Number,
            observer:"_dataChanged"
          },divisa: {
            type: String,
            observer:"_dataChanged"
          }, mensaje: {
            type: String
          },dialogOpen: {
             type: Boolean
          }
        }
      }

      _dataChanged() {

        this.$.receiver.iban   = this.iban;
        this.$.receiver.saldo  = this.saldo;
        this.$.receiver.divisa = this.$.inputDivisa.value;
        console.log("DIVISA:",this.$.inputDivisa.value);
      }

      _volveraltacuenta() {
        console.log("_volveraltacuenta");

        this.$.inputDivisa.value = "EUR"
        this.iban="";
        this.saldo="";
        console.log("lanzo evento eventnuevacuenta en botones-opciones-cuentas");
        this.dispatchEvent(
           new CustomEvent(
             "eventvolveraltacuenta",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }

      _altacuenta() {
        console.log("_altacuenta");
        console.log("lanzo evento eventaltacuenta en botones-opciones-cuentas");

        this.dispatchEvent(
           new CustomEvent(
             "eventaltacuenta",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }


    }

    window.customElements.define(AltaCuenta.is, AltaCuenta);
  </script>
</dom-module>
