<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="recuperar-datos-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <dom-bind id="dialog-example">
      <template>
        <vaadin-dialog id="dialog" no-close-on-esc no-close-on-outside-click>
          <template>
            <div>[[mensaje]]</div>
            <br>
            <vaadin-button on-click="closeDialog">Ok</vaadin-button>
            <!-- <vaadin-button on-click="closeDialog">Cancel</vaadin-button> -->
          </template>
        </vaadin-dialog>
        <!-- <vaadin-button on-click="openDialog">Show dialog</vaadin-button> -->
      </template>
    </dom-bind>

    <iron-ajax
      auto
      id="getCliente"
      url="http://localhost:3000/apitechu/v3/users/{{userid}}"
      handle-as="json"
      on-response="returnData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RecuperarDatosCliente extends Polymer.Element {
      static get is() { return 'recuperar-datos-cliente'; }
      static get properties() {
        return {
          // datos_cliente: {
          //   nombre: {
          //     type: String
          //   },primer_apellido: {
          //     type: String
          //   },segundo_apellido: {
          //     type: String
          //   },dni: {
          //     type: String
          //   },email: {
          //     type: String
          //   },password: {
          //     type: String
          //   },repassword: {
          //     type: String
          //   },genero: {
          //     type: Number
          //   },telefono: {
          //     type: String
          //   },direccion: {
          //     type: String
          //   },poblacion: {
          //     type: String
          //   },provincia: {
          //     type: String
          //   },codigopostal: {
          //     type: String
          //   }
          // },
          mensaje: {
            type: String
          },userid: {
            type: Number
          }
        }
      }

      returnData(data) {
        console.log ("returnData");
        console.log("data.detail.response.nombre", data.detail.response.nombre );
        console.log("data.detail.response.primer_apellido", data.detail.response.primer_apellido );
      //  console.log(data.detail); este no funciona
        // console.log(data.detail.response);

        // this.datos_cliente.nombre=data.detail.response.nombre;
        // this.datos_cliente.primer_apellido=data.detail.response.primer_apellido;
        // this.datos_cliente.segundo_apellido=data.detail.response.segundo_apellido;
        // this.datos_cliente.email=data.detail.response.email;
        // this.datos_cliente.telefono=data.detail.response.telefono;
        // this.datos_cliente.direccion=data.detail.response.direccion;
        // this.datos_cliente.poblacion=data.detail.response.poblacion;
        // this.datos_cliente.provincia=data.detail.response.provincia;
        // this.datos_cliente.codigopostal=data.detail.response.codigopostal;

        // ojo!, no poner mayusculas en nombre de evento
        console.log("lanzo evento eventdatosusuario en recuperar-datos-cliente");
         this.dispatchEvent(
           new CustomEvent(
             "eventdatosusuario",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "nombre" :          data.detail.response.nombre,
                  "primer_apellido":  data.detail.response.primer_apellido,
                  "segundo_apellido": data.detail.response.segundo_apellido,
                  "email":            data.detail.response.email,
                  "telefono":         data.detail.response.telefono,
                  "direccion":        data.detail.response.direccion,
                  "poblacion":        data.detail.response.poblacion,
                  "provincia":        data.detail.response.provincia,
                  "codigopostal":     data.detail.response.codigopostal

                }
             }
           )
         )

        }

      closeDialog() {
        console.log("closeDialog");
        dialogExample.$.dialog.opened = false;
      }


      showError(error) {
        // gestionamos el error (en API devolvemos res.status(401))
        console.log("Ha habido un error");
        console.log(error);
      }

    }

    window.customElements.define(RecuperarDatosCliente.is, RecuperarDatosCliente);
  </script>
</dom-module>
