r<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-transferencia">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <div class="container">
     <br><br>
    <div class="row">
      <!-- <div class="col-sm"> </div> -->
      <div class="col-sm offset-5">
        <!-- <vaadin-button hidden$="{{isLogged}}" on-click="gestionarLogin">Login</vaadin-button> -->
        <!-- <vaadin-button on-click="volver">Volver</vaadin-button>
        <vaadin-button on-click="CambioClave">Actualizar</vaadin-button> -->
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <button class="btn btn-primary" on-click="processTransfer">Transferir</button>


      </div>
    </div>
   </div>


   <iron-ajax
     id="getCuentaDestino"
     url="http://localhost:3000/apitechu/v3/accounts/{{ibandestino}}"
     handle-as="json"
     on-response="manageCuentaDestinoresponse"
     on-error="showError"></iron-ajax>

   <iron-ajax
     id="doMovimientoCargo"
     url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}/movement"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponseMovimientoCargo"
     on-error="showError"></iron-ajax>

   <iron-ajax
     id="doMovimientoAbono"
     url="http://localhost:3000/apitechu/v3/products/{{idclientedestino}}/accounts/{{idcuentadestino}}/movement"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponseMovimientoAbono"
     on-error="showError"></iron-ajax>

   <iron-ajax
     id="doTransfer"
     url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}/transfer"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponseTransfer"
     on-error="showError"></iron-ajax>

   <iron-ajax
     id="getExchange"
     url="http://localhost:3000/apitechu/v3/exchange/{{divisa}}/{{divisadestino}}/{{importe}}"
     handle-as="json"
     on-response="manageAJAXResponseExchange"
     on-error="showError"></iron-ajax>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesTransferencia extends Polymer.Element {
     static get is() { return 'botones-transferencia'; }
     static get properties() {
       return {
         dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },idcuenta: {
            type: Number
         },userid: {
            type: Number
         },saldo: {
            type: Number
         },divisa: {
            type: String
         },concepto: {
            type: String
         },idcuentadestino: {
            type: Number
         },idclientedestino: {
            type: Number
         },divisadestino: {
            type: String
         },transferenciaOK: {
            type: Boolean,
            value: false
          },contravalorarOK: {
            type: Boolean,
            value: false
          }
       };
     }

    volver() {

      console.log("volver en botones-transferencia");
      console.log("window.location: Volvemos a raiz");

      window.location = "/user/" + this.userid ;

    }

    processTransfer(data) {

      console.log("processTransfer en botones-transferencia");

      console.log("this.idcuenta",this.idcuenta);
      console.log("this.userid",this.userid);
      console.log("this.saldo",this.saldo);
      console.log("this.divisa",this.divisa);


      this.ibandestino = this.ibandestino.toUpperCase();
      console.log("this.ibandestino",this.ibandestino);
      console.log("this.importe",this.importe);
      console.log("this.concepto",this.concepto);

      if (!this.ibandestino || !this.importe || !this.concepto) {
        this.mensaje ="Complete los campos, por favor"
        this.dialogOpen = true;
        this.transferenciaOK = false;
      }
      else {
        if (this.importe < 0) {
          this.mensaje ="Importe tiene que ser positivo"
          this.dialogOpen = true;
          this.transferenciaOK = false;
        }
        else {
          console.log("this.saldo: ", this.saldo);
          console.log("this.importe: ", this.importe);
          if (this.saldo < this.importe) {
            this.mensaje ="Saldo insuficiente"
            this.dialogOpen = true;
            this.transferenciaOK = false;
          }
          else {

            console.log("ibandestino", this.ibandestino);
            this.$.getCuentaDestino.generateRequest();
            console.log("Peticion enviada");
          }
        }
      }
    }

    manageCuentaDestinoresponse(data) {
      // función manejadora de la respuesta correcta
      console.log("manageCuentaDestinoresponse");
      console.log(data.detail.response);
      console.log(data.detail.response.idCuenta);
      this.idcuentadestino = data.detail.response.idcuenta
      this.idclientedestino = data.detail.response.idcliente;
      this.divisadestino = data.detail.response.divisa;

      var importeCargo = this.importe * (-1);
      console.log("importeCargo", importeCargo);

//   inserta el movimiento origen
      var movementCargoData ={
        "idcliente": this.userid,
        "idcuenta": this.idcuenta,
        "importe": importeCargo,
        "divisa": this.divisa,
        "texto": this.concepto,
        "latitude": 44.181054,
        "longitude": 129.171996
      };

      console.log("movementData", movementCargoData);

      this.$.doMovimientoCargo.body = JSON.stringify(movementCargoData);
      this.$.doMovimientoCargo.generateRequest();

    }

    manageAJAXResponseMovimientoCargo(data) {
      // función manejadora de la respuesta correcta
      console.log("manageAJAXResponseMovimientoCargo");
      console.log("this.idclientedestino",this.idclientedestino);
      console.log("this.idcuentadestino",this.idcuentadestino);
      console.log("this.divisa",this.divisadestino);
      console.log("this.concepto",this.concepto);
      console.log("this.importe",this.importe);

      if (this.divisa != this.divisadestino) {
        this.$.getExchange.generateRequest();
      } else {
        var importeAbono = this.importe * (1);

        console.log("importeAbono", importeAbono);
        //   inserta el movimiento destino
        var movementAbonoData ={
          "idcliente": this.idclientedestino,
          "idcuenta": this.idcuentadestino,
          "importe": importeAbono,
          "divisa": this.divisadestino,
          "texto": this.concepto,
          "latitude": 44.181054,
          "longitude": 129.171996
        };

        console.log("movementData", movementAbonoData);

        this.$.doMovimientoAbono.body = JSON.stringify(movementAbonoData);
        this.$.doMovimientoAbono.generateRequest();
      }
    }

    manageAJAXResponseExchange(data) {
      console.log ("manageAJAXResponseExchange");

      console.log("data:", data);
      console.log("data.detail.response:", data.detail.response);

      this.importedestino = data.detail.response.amount;
      console.log("this.importedestino", this.importedestino);

      this.mensaje ="Cuenta destino en " + this.divisadestino +". Importe contravalorado a abonar en destino: " + this.importedestino + " " + this.divisadestino;
      this.contravalorarOK = true;
      this.dialogOpen = true
    }

    manageAJAXResponseMovimientoAbono(data) {
      // manejadora de la respuesta correcta
      console.log("manageAJAXResponseMovimientoAbono");

      console.log("this.concepto",this.concepto);

      //   inserta el transferencia
      var transferData ={
        "importe": this.importe,
        "divisa": this.divisa,
        "concepto": this.concepto,
        "ibandestino": this.ibandestino,
        "divisadestino": this.divisadestino
      };

      console.log("transferData", transferData);
      this.$.doTransfer.body = JSON.stringify(transferData);
      this.$.doTransfer.generateRequest();

    }

    manageAJAXResponseTransfer() {
      console.log("manageAJAXResponseTransfer");

      this.dialogOpen = true
      this.mensaje ="Transferencia realizada con éxito!"
      this.transferenciaOK = true;
    }

    showError(e, error) {
      console.log ("showError");
      console.log(error.request.status);
      console.log(error.request.response);

      this.dialogOpen = true
      this.mensaje=error.request.response.msg;

    }

    closeDialog() {
      console.log ("closeDialog");

      this.dialogOpen = false;

      if (this.contravalorarOK) {
        console.log("entro en movimiento contravalorado");
        var importeAbono = Math.round(this.importedestino * 100) / 100;

        console.log("importeAbono", importeAbono);
        //   inserta el movimiento destino
        var movementAbonoDataContravalorado ={
          "idcliente": this.idclientedestino,
          "idcuenta": this.idcuentadestino,
          "importe": importeAbono,
          "divisa": this.divisadestino,
          "texto": this.concepto,
          "latitude": 44.181054,
          "longitude": 129.171996
        };

        console.log("movementAbonoDataContravalorado", movementAbonoDataContravalorado);

        this.$.doMovimientoAbono.body = JSON.stringify(movementAbonoDataContravalorado);
        this.$.doMovimientoAbono.generateRequest();
        this.contravalorarOK = false;
      }

      if (this.transferenciaOK) {
          window.location = "/user/" + this.userid ;
      }
    }

   }
   window.customElements.define(BotonesTransferencia.is, BotonesTransferencia);
 </script>
</dom-module>
