<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="conversor-divisas">
  <template>
    <style>
      :host {
        display: block;
      }

      .marco{
        padding:5px;
        width:225px;
        height:300px;
        background: white;
        border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        text-align: center;
        position:relative;
        top:50px;
        left:400px
      }

      .cabecera{
        padding:5px;
        width:225px;
        height:30px;
        background-color: grey;
        border: solid 1px grey;
        color: white;
        position:relative;
        top:50px;
        left:400px
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>


    <visor-cabecera-logout  nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            userid="[[userid]]">
    </visor-cabecera-logout>


    <div class="col-sm-4 offset-4">
      <br><br>
      <div class="col-sm-6">
        <label for="inputImporte" class="col-form-label">Divisa Origen</label>
        <select class="form-control" id="inputDivisaOrigen" on-change="_dataChanged">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
          <option value="JPY">JPY</option>
        </select>
      </div>

      <div class="col-sm-6">
        <label for="inputImporte" class="col-form-label">Divisa Destino</label>
        <select class="form-control" id="inputDivisaDestino" on-change="_dataChanged">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
          <option value="JPY">JPY</option>
        </select>
      </div>

      <label for="inputImporte" class="col-sm-4 col-form-label">Importe</label>
      <div class="col-sm-6">
        <input type="number" min="1" step="1" class="form-control" value="{{quantity::input}}" id="inputImporte" placeholder="Importe">
      </div>

      <label for="inputContravalor" class="col-sm-4 col-form-label">Contravalor</label>
      <div class="col-sm-6">
        <input type="text" disabled class="form-control" value="[[contravalor]]" id="inputContravalor">
      </div>

      <br>
      <button class="btn btn-primary offset-2" on-click="_volverConversorDivisas">Volver</button>

    </div>


    <iron-ajax
      id="getExchange"
      url="http://localhost:3000/apitechu/v3/exchange/{{source}}/{{tarjet}}/{{quantity}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"></iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConversorDivisas extends Polymer.Element {
      static get is() { return 'conversor-divisas'; }
      static get properties() {
        return {
          quantity: {
            type: Number,
            observer:"_dataChanged",
            value: 1
          },source: {
            type: String
          },tarjet: {
            type: String
          },contravalor: {
            type: Number
          }, mensaje: {
            type: String
          },dialogOpen: {
             type: Boolean
          }
        }
      }


      showData(data) {
        console.log ("showData");
        console.log("data:", data);
        console.log("data.detail.response:", data.detail.response);

        this.contravalor = data.detail.response.amount;
      }

      _dataChanged() {

        this.source = this.$.inputDivisaOrigen.value;
        this.tarjet = this.$.inputDivisaDestino.value;
        console.log("this.$.inputDivisaOrigen.value",this.$.inputDivisaOrigen.value);
        console.log("this.source",this.source);
        console.log("this.$.inputDivisaDestino.value",this.$.inputDivisaDestino.value);
        console.log("this.tarjet",this.tarjet);

        if (this.quantity != "") {
          this.quantity=parseInt(this.quantity);
          this.$.getExchange.generateRequest();
          console.log("Peticion enviada");
        }

      }

      _volverConversorDivisas() {
        console.log("_volverConversorDivisas");

        window.location = "/user/" + this.userid
      }

      showError(e, error) {
        console.log ("showError");
        console.log(error.request.status);
        console.log(error.request.response);

        this.dialogOpen = true
        this.mensaje = "Error en la conversión"
        // this.mensaje=error.request.response.msg;
      }

      closeDialog() {
        console.log ("closeDialog");
        this.dialogOpen = false
        console.log("this.dialogOpen", this.dialogOpen);
      }


    }

    window.customElements.define(ConversorDivisas.is, ConversorDivisas);
  </script>
</dom-module>
