<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-alta-cuenta">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <div class="container" hidden$="{{!mostrarAltaCuenta}}">
     <br><br>
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <button class="btn btn-primary" on-click="altaCuenta">Actualizar</button>
      </div>
    </div>
   </div>

   <iron-ajax
     id="doCuenta"
     url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>

   <iron-ajax
     id="doMovimiento"
     url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}/movement"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponseMovimiento"
     on-error="showError"></iron-ajax>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesAltaCuenta extends Polymer.Element {
     static get is() { return 'botones-alta-cuenta'; }
     static get properties() {
       return {
         dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },idcuenta: {
            type: Number
         },userid: {
            type: Number
         },altaCuentaOK: {
            type: Boolean,
            value: false
          }
       };
     }

    volver() {

      console.log("volver en botones-alta-cuenta");
      console.log("window.location: Volvemos a raiz");

      console.log("lanzo evento eventvolveraltacuenta en botones-alta-cuenta");
       this.dispatchEvent(
         new CustomEvent(
           "eventvolveraltacuenta",
           {
              "detail": {
                // ponemos lo que queramos que llegue al exterior
                "userid": this.userid

              }
           }
         )
       )
    }

    altaCuenta(data) {

      console.log("altaCuenta en botones-alta-cuenta");

      console.log("this.iban",this.iban);
      console.log("this.divisa",this.divisa);
      console.log("this.saldo",this.saldo);

      if (!this.iban || !this.divisa || !this.saldo) {
        this.mensaje ="Complete los campos, por favor"
        this.dialogOpen = true;
        this.altaCuentaOK = false;
      }
      else {
        if (this.saldo < 0) {
          this.mensaje ="Saldo inicial no pueder ser deudor"
          this.dialogOpen = true;
          this.altaCuentaOK = false;
        }
        else {
    //    crea la cuenta
          this.iban= this.iban.toUpperCase()
          
          var accountData ={
            "iban" : this.iban,
            "saldo" : 0.00,
            "divisa" :this.divisa,
            "fechaproxliq" : "31/12/2019",
            "prodcomercial": 5,
            "prodfinanciero": 3,
            "situacion": 0,
            "fechabaja": "31/12/9999"
          };

          console.log("accountData", accountData);

          console.log("iban", this.iban);
          console.log("saldo", this.saldo);
          console.log("divisa", this.divisa);


          this.$.doCuenta.body = JSON.stringify(accountData);
          this.$.doCuenta.generateRequest();

          console.log("Peticion enviada");
        }
      }
    }

    manageAJAXResponse(data) {
      // función manejadora de la respuesta correcta
      console.log("manageAJAXResponse");
      console.log(data.detail.response);
      console.log(data.detail.response.idCuenta);
      this.idcuenta = data.detail.response.idCuenta

      var importe = this.saldo * 1;

      console.log("importe:", importe);

//   inserta el movimiento
      var movementData ={
        "idcliente": this.userid,
        "idcuenta": this.idcuenta,
        "importe": importe,
        "divisa": this.divisa,
        "texto": "Movimiento inicial",
        "latitude": 44.181054,
        "longitude": 129.171996
      };

      console.log("movementData", movementData);

      this.$.doMovimiento.body = JSON.stringify(movementData);
      this.$.doMovimiento.generateRequest();

    }
    manageAJAXResponseMovimiento(data) {
      // función manejadora de la respuesta correcta
      console.log("manageAJAXResponseMovimiento");

      this.dialogOpen = true
      this.mensaje ="Cuenta creada con éxito! (movimiento inicial incluido) "
      this.altaCuentaOK = true;

    }

    showError(e, error) {
      console.log ("showError");
      console.log(error.request.status);
      console.log(error.request.response);

      this.dialogOpen = true
      this.mensaje=error.request.response.msg;

    }

    closeDialog() {
      console.log ("closeDialog");

      this.dialogOpen = false
      // window.location = "/user/" + this.userid ;

      if (this.altaCuentaOK) {
        console.log("lanzo evento eventaltacuenta en alta-cuenta");
         this.dispatchEvent(
           new CustomEvent(
             "eventaltacuenta",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }

      // if (this.altaOK) {
      //   console.log("lanzo evento eventconectado en botones-alta-cuenta");
      //   this.dispatchEvent(
      //     new CustomEvent(
      //      "eventconectado",
      //       {
      //         "detail": {
      //           // ponemos lo que queramos que llegue al exterior
      //           "idUsuario": this.userid
      //         }
      //      }
      //    )
      //   )
      // }
    }

   }
   window.customElements.define(BotonesAltaCuenta.is, BotonesAltaCuenta);
 </script>
</dom-module>
