<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-cambio-clave">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <!-- <div class="container" hidden$="{{!mostrarCambioClave}}"> -->
   <div class="container">
    <div class="row">
      <!-- <div class="col-sm"> </div> -->
      <div class="col-sm-6 offset-2">
        <!-- <vaadin-button hidden$="{{isLogged}}" on-click="gestionarLogin">Login</vaadin-button> -->
        <!-- <vaadin-button on-click="volver">Volver</vaadin-button>
        <vaadin-button on-click="CambioClave">Actualizar</vaadin-button> -->
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <button class="btn btn-primary" on-click="cambioClave">Actualizar</button>


      </div>
    </div>
   </div>

   <iron-ajax
     id="doChangePassword"
     url="http://localhost:3000/apitechu/v3/changepassword/{{userid}}"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>


 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class botonesCambioClave extends Polymer.Element {
     static get is() { return 'botones-cambio-clave'; }
     static get properties() {
       return {
         dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },cambioOK: {
            type: Boolean,
            value: false
         },idcuenta: {
            type: Number
         },userid: {
            type: Number
         }

       };
     }

    volver() {

      console.log("volver en botones-cambio-clave");
      console.log("window.location: Volvemos a user/");

      window.location = "/user/" + this.userid ;

      }

    cambioClave(data) {

      console.log("cambioClave en botones-cambio-clave");

      if (!this.passwordOld || !this.passwordNew || !this.repasswordNew) {
        this.mensaje ="Vaya, complete los campos, por favor"
        this.dialogOpen = true;
        this.cambioOK = false;
      }
      else {
//    crea la cuenta
        var passwordChange ={
          "oldpassword" : this.passwordOld,
          "newpassword" : this.passwordNew
        };

        console.log("passwordChange", passwordChange);

        if (this.passwordNew != this.repasswordNew) {
          this.mensaje ="Vaya, la nueva password no coincide! "
          this.dialogOpen = true;
          this.cambioOK = false;
        } else {
          this.$.doChangePassword.body = JSON.stringify(passwordChange);
          this.$.doChangePassword.generateRequest();

          console.log("Peticion enviada");
        }
      }
    }

    manageAJAXResponse(data) {
      // función manejadora de la respuesta correcta
      console.log("manageAJAXResponse");
      console.log(data.detail.response);
      console.log(data.detail.response.idCuenta);
      this.idcuenta = data.detail.response.idCuenta

      this.mensaje ="Clave cambiada con éxito!"
      this.dialogOpen = true
      this.cambioOK = true;

    }

    showError(e, error) {
      console.log ("showError");
      console.log(error.request.status);
      console.log(error.request.response);

      this.mensaje=error.request.response.msg;
      this.dialogOpen = true
      this.cambioOK = false
    }

    closeDialog() {
      console.log ("closeDialog");

      this.dialogOpen = false
      if (this.cambioOK) {
        window.location = "/user/" + this.userid;
      }

    }
  }
   window.customElements.define(botonesCambioClave.is, botonesCambioClave);
 </script>
</dom-module>
