<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="/src/visor-cuenta/visor-cuenta.html">

<dom-module id="visor-mapa">
  <template>

  <style>
    google-map {
      height: 300px;
    }
  </style>
  <google-map fit-to-markers api-key="AIzaSyB23oF4KW3rZKLLuJZpSBT0LWDymf9XGCk">
    <google-map-marker latitude="37.78" longitude="-122.4" draggable="true"></google-map-marker>
  </google-map>



    <!--The div element for the map -->
    <!-- <div id="map"></div> -->
    <!-- Replace the value of the key parameter with your own API key. -->
    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB23oF4KW3rZKLLuJZpSBT0LWDymf9XGCk&callback=initMap">
    </script>
    <br>
    <h2>Soy Rober </h2> -->

    <!-- <visor-cuenta userid="[[id]]"></visor-cuenta>
    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMapa extends Polymer.Element {
      static get is() { return 'visor-mapa'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }

        }
      }

      // Initialize and add the map
      initMap() {
        // The location of Uluru
        // var uluru = {lat: -25.344, lng: 131.036};
        // // The map, centered at Uluru
        // var map = new google.maps.Map(
        //     document.getElementById('map'), {zoom: 4, center: uluru});
        // // The marker, positioned at Uluru
        // var marker = new google.maps.Marker({position: uluru, map: map});
      }
      // showData(data) {
      //   console.log ("showData");
      // //  console.log(data.detail); este no funciona
      //   console.log(data.detail.response);
      //   this.first_name = data.detail.response.first_name;
      //   this.last_name = data.detail.response.last_name;
      //   this.email = data.detail.response.email;
      //
      // }
    }



    window.customElements.define(VisorMapa.is, VisorMapa);
  </script>
</dom-module>
