<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-progress-bar/vaadin-progress-bar.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

      .marco{
        width:250px;
        height:250px;
        background: white;  border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        text-align: center;
        position:relative;
        top:50px;
        left:300px
      }

      .cabecera{
          padding:5px;
          margin:0px;
          width:250px;
          height:30px;
          background-color: blue;
          border: solid 1px blue;
          color: white;
      }

      .col-form-label {
        color: grey
      }


    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>

    <vaadin-progress-bar indeterminate value=[[progreso]] hidden$="{{!mostrarbarra}}" ></vaadin-progress-bar>

    <div class="col-sm-4  offset-4" hidden$="{{!mostrarLogin}}">
        <br>
        <br>
        <br>

        <div class="form-group row">

          <label for="inputdni" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-6">
            <input type="text" style='text-transform:uppercase;' class="form-control" value="{{dni::input}}" id="inputDni3" placeholder="Dni">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" value="{{password::input}}" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <button class="btn btn-primary" on-click="login">Login</button>

    </div>

    <!-- <span hidden$="{{!isLogged}}">Bienvenido de nuevo!</span> -->

    <!-- <vaadin-progress-bar indeterminate value=[[progreso]] hidden$="{{!mostrarbarra}}" ></vaadin-progress-bar> -->

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v3/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          }, dni: {
            type: String
          }, isLogged: {
            value:false,
            type: Boolean
          }, mostrarbarra: {
            value:false,
            type: Boolean
          }, progreso: {
            type: String
          }, mostrarLogin: {
            type: Boolean
          },dialogOpen: {
             type: Boolean
          },mensaje: {
             type: String
          }
        }
      }

      login() {

        this.progreso="0";
        this.mostrarbarra=true;
        console.log("dni:", this.dni);
        console.log("passw:", this.password);

        console.log("voy a enviar la petición");

//      enviar el usuario y password al backend
        var loginData ={
          "dni" : this.dni,
          "password" :this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Peticion enviada");
      }


      manageAJAXResponse(data) {
        // función manejadora de la respuesta correcta
        console.log("API ejecutada");
        console.log(data.detail.response);
        console.log(data.detail.response.idUsuario);

        this.isLogged = true;

         //ojo!, no poner mayusculas en nombre de evento
         console.log("lanzo evento eventconectado en login-usuario");
          this.dispatchEvent(
            new CustomEvent(
              "eventconectado",
              {
                 "detail": {
                   // ponemos lo que queramos que llegue al exterior
                   "idUsuario": data.detail.response.idUsuario

                 }
              }
            )
          )

/*
          console.log("window.location: user/");
          window.location = "user/" + data.detail.response.idUsuario;
        // this.progreso="100";
        this.mostrarbarra=false;
        var id = data.detail.response.idUsuario;



       //  La información se graba en localStorage con el par clave - valor.
       //  Como clave indicamos "userData" y como valor el resultado de convertir a JSON el objeto userData
       //  userData es un Objeto. Lo transformamos en JSON y lo guardamos en localStorage
           console.log("id= " + id);
          //  localStorage.setItem ("userIdJSON",JSON.stringify(id));
           localStorage.setItem ("userIdJSON",id);
*/
      }

      showError(e, error) {
        console.log ("showError");

        console.log(error.request.status);
        console.log(error.request.response);
        console.log(e);
        this.dialogOpen = true
        // console.log("data.detail.response.msg:", data.detail.response.msg);
        this.mensaje=error.request.response.msg;
        // this.mensaje = data.detail.response.msg
        console.log("this.dialogOpen", this.dialogOpen);
        this.dni="";
        this.password="";
        this.mostrarbarra=false;

      }

      closeDialog() {
        console.log ("closeDialog");
        this.dialogOpen = false
        console.log("this.dialogOpen", this.dialogOpen);
      }
      // showData(data) {
      //   console.log ("showData");
      // //  console.log(data.detail); este no funciona
      //   console.log(data.detail.response);
      //   this.first_name = data.detail.response.first_name;
      //   this.last_name = data.detail.response.last_name;
      //   this.email = data.detail.response.email;
      //
      // }
    }



    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
