<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuenta/visor-cuenta.html">
<!-- <link rel="import" href="/src/visor-cabecera-logout/visor-cabecera-logout.html">
<link rel="import" href="/src/mantenimiento-cliente/mantenimiento-cliente.html"> -->

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- <visor-cabecera-logout  nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            on-eventperfil="processmostrarPerfil">
    </visor-cabecera-logout> -->

    <visor-cabecera-logout  nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            userid="[[userid]]">
    </visor-cabecera-logout>

    <lista-movimientos id="receiver"
                  userid="[[userid]]"
                  idcuenta="[[idcuenta]]">
                  <!-- mostrar-cuentas="[[mostrarCuentas]]"> -->
    </lista-movimientos>

    <botones-opciones-movimientos  userid="[[userid]]"
                                   idcuenta="[[idcuenta]]">
    </botones-opciones-movimientos>

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v3/users/{{userid}}"
      handle-as="json"
      on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          nombre: {
            type: String
          }, primer_apellido: {
              type: String
          }, segundo_apellido: {
              type: String
          }, id: {
              type: Number
          }, mostrarCuentas: {
              type: Boolean,
              value: true
          }
        }
      }
      showData(data) {
        console.log ("showData");
      //  console.log(data.detail); este no funciona
        console.log(data.detail.response);
        // this.$.receiver.mostrarCuentas = true;
        // this.$.receiver2.mostrarPerfil = false;

        this.nombre = data.detail.response.nombre;
        this.primer_apellido = data.detail.response.primer_apellido;
        this.id = data.detail.response.idcliente;


      }


    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
