<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="mantenimiento-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <dom-bind id="dialog-example">
      <template>
        <vaadin-dialog id="dialog" no-close-on-esc no-close-on-outside-click>
          <template>
            <div>[[mensaje]]</div>
            <br>
            <vaadin-button on-click="closeDialog">Ok</vaadin-button>
          </template>
        </vaadin-dialog>
      </template>
    </dom-bind>

    <visor-cabecera-logout
                            nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            userid="[[userid]]">
    </visor-cabecera-logout>

    <recuperar-datos-cliente
                            userid="[[userid]]"
                            on-eventdatosusuario="processPintarDatosCliente">
    </recuperar-datos-cliente>

    <div class="col-sm-8 offset-2" hidden$="{{!mostrarRegistrarse}}">

      <form class="needs-validation" novalidate>
        <br><br><br>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre</label>
            <input type="text" disabled class="form-control" id="validationCustom01" placeholder="Nombre" value="[[nombre]]" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Primer Apellido</label>
            <input type="text" disabled class="form-control" id="validationCustom02" placeholder="1er Apellido" value="[[primer_apellido]]" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Segundo Apellido</label>
            <div class="input-group">
              <input type="text" disabled class="form-control" id="validationCustomUsername" placeholder="2do Apellido" value="[[segundo_apellido]]" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationEmail">Email</label>
            <input type="email" class="form-control" id="validationEmail" placeholder="Email" value="{{email::input}}" required>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationTelefono">Teléfono</label>
            <input type="number" class="form-control" id="validationTelefono" placeholder="Telefono" value="{{telefono::input}}" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDireccion">Dirección</label>
            <input type="text" class="form-control" id="validationDireccion" placeholder="Dirección" value="{{direccion::input}}" required>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationPoblacion">Población</label>
            <input type="text" class="form-control" id="validationPoblacion" placeholder="Población" value="{{poblacion::input}}" required>

          </div>
          <div class="col-md-3 mb-3">
            <label for="validationProvincia">State</label>
            <input type="text" class="form-control" id="validationProvincia" placeholder="Provincia" value="{{provincia::input}}" required>

          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCodigoPostal">Zip</label>
            <input type="text" class="form-control" id="validationCodigoPostal" placeholder="Código Postal" value="{{codigopostal::input}}" required>
          </div>
        </div>
      </form>
    </div>

    <botones-mantenimiento-clientes   id="receiver"
                                      userid="[[userid]]">
    </botones-mantenimiento-clientes>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MantenimientoCliente extends Polymer.Element {
      static get is() { return 'mantenimiento-cliente'; }
      static get properties() {
        return {
            nombre: {
              type: String,
              observer:"_dataChanged"
            },primer_apellido: {
              type: String,
              observer:"_dataChanged"
            },segundo_apellido: {
              type: String,
              observer:"_dataChanged"
            },dni: {
              type: String
            },email: {
              type: String,
              observer:"_dataChanged"
            },password: {
              type: String
            },repassword: {
              type: String
            },genero: {
              type: Number
            },telefono: {
              type: String,
              observer:"_dataChanged"
            },direccion: {
              type: String,
              observer:"_dataChanged"
            },poblacion: {
              type: String,
              observer:"_dataChanged"
            },provincia: {
              type: String,
              observer:"_dataChanged"
            },codigopostal: {
              type: String,
              observer:"_dataChanged"
            },isLogged: {
            value:false,
            type:Boolean
            }, mensaje: {
            type: String
            },userid: {
            type: Number
          }
        }
      }

      processPintarDatosCliente(e) {
        console.log ("processPintarDatosCliente");
        console.log(e);

        this.nombre=e.detail.nombre;
        this.primer_apellido=e.detail.primer_apellido;
        this.segundo_apellido=e.detail.segundo_apellido;
        this.dni=e.detail.dni;

        this.email=e.detail.email;
        this.telefono=e.detail.telefono;
        this.direccion=e.detail.direccion;
        this.poblacion=e.detail.poblacion;
        this.provincia=e.detail.provincia;
        this.codigopostal=e.detail.codigopostal;
      }

      _dataChanged() {
        this.$.receiver.nombre=this.nombre;
        this.$.receiver.primer_apellido=this.primer_apellido;
        this.$.receiver.segundo_apellido=this.segundo_apellido;

        this.$.receiver.email=this.email;
        this.$.receiver.telefono=this.telefono;
        this.$.receiver.direccion=this.direccion;
        this.$.receiver.poblacion=this.poblacion;
        this.$.receiver.provincia=this.provincia;
        this.$.receiver.codigopostal=this.codigopostal;
      }
    }

    window.customElements.define(MantenimientoCliente.is, MantenimientoCliente);
  </script>
</dom-module>
