<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h3>Soy el emisor </h3>
   <button on-click="sendEvent">No pulsar porque envio evento</button>
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class EmisorEvento extends Polymer.Element {
     static get is() { return 'emisor-evento'; }
     static get properties() {
       return {
       };
     }

     sendEvent(e){
       //hemos recibido "algo" supongamos que hemos recibido alguna info y la queremos mandar fuera
       console.log("se ha pulsado el botón");
       console.log(e);

      //ojo!, no poner mayusculas en nombre de evento
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
              "detail": {
                // ponemos lo que queramos que llegue al exterior
                "course": "TechU",
                "year": 2018
              }
           }
         )
       )
     }
   }
   window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
