<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="cambio-clave">
  <template>
    <style>
      :host {
        display: block;
      }

      .marco{
        padding:5px;
        width:225px;
        height:300px;
        background: white;
        border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        text-align: center;
        position:relative;
        top:50px;
        left:400px
      }

      .cabecera{
        padding:5px;
        width:225px;
        height:30px;
        background-color: grey;
        border: solid 1px grey;
        color: white;
        position:relative;
        top:50px;
        left:400px
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <dom-bind id="dialog-example">
      <template>
        <vaadin-dialog id="dialog" no-close-on-esc no-close-on-outside-click>
          <template>
            <div>[[mensaje]]</div>
            <br>
            <vaadin-button on-click="closeDialog">Ok</vaadin-button>
          </template>
        </vaadin-dialog>
      </template>
    </dom-bind> -->

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>


    <visor-cabecera-logout  nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            userid="[[userid]]">
    </visor-cabecera-logout>

    <div class="col-sm-6  offset-4" hidden$="{{!mostrarCambioClave}}">
        <br>
        <br>
        <br>

        <div class="form-group row">
          <label for="inputClaveAntigua" class="col-sm-2 col-form-label">Password Antigua</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" value="{{password_old::input}}" id="inputIban" placeholder="password antigua">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPasswordNueva" class="col-sm-2 col-form-label">Password Nueva</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" value="{{password_new::input}}" id="inputPasswordNueva" placeholder="password nueva">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputRePasswordNueva" class="col-sm-2 col-form-label">Password Nueva</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" value="{{repassword_new::input}}" id="inputRePasswordNueva" placeholder="password nueva">
          </div>
        </div>

        <botones-cambio-clave
              id="receiver"
              userid=[[userid]]>
        </botones-cambio-clave>

        <!-- <botones-cambio-clave
              id="receiver"
              mostrar-cambio-clave="[[mostrarCambioClave]]"
              on-eventCambioClave="_CambioClave"
              on-eventvolverCambioClave="_volverCambioClave"
              userid=[[userid]]>
        </botones-cambio-clave>
 -->

    </div>
  </form>


    <!-- <form hidden$="{{!mostrarCambioClave}}">
      <div class="cabecera">Alta de Cuenta</div>
      <div class="marco">

        <vaadin-text-field theme="small" label="Iban"
          placeholder="iban" value="{{iban::input}}"></vaadin-text-field>
        <br>
        <vaadin-text-field theme="small" label="Saldo Inicial"
          placeholder="saldo inicial" value="{{saldo::input}}"></vaadin-text-field>
        <br>

        <vaadin-text-field theme="small" label="Divisa"
          placeholder="divisa" value="{{divisa::input}}"></vaadin-text-field>
        <br> <br>

        <botones-cambio-clave
              id="receiver"
              mostrar-cambio-clave="[[mostrarCambioClave]]"
              on-eventCambioClave="_CambioClave"
              on-eventvolverCambioClave="_volverCambioClave"

              userid=[[userid]]>
        </botones-cambio-clave>
      </div>
    </form> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CambioClave extends Polymer.Element {
      static get is() { return 'cambio-clave'; }
      static get properties() {
        return {
          password_old: {
            type: String,
            observer:"_dataChanged"
          },password_new: {
            type: String,
            observer:"_dataChanged"
          },repassword_new: {
            type: String,
            observer:"_dataChanged"
          }, mensaje: {
            type: String
          },dialogOpen: {
             type: Boolean
          }
          // , userid: {
          //    type: Number
          // }
        }
      }

      _dataChanged() {

        console.log("");
        this.$.receiver.passwordOld   = this.password_old;
        this.$.receiver.passwordNew  = this.password_new;
        this.$.receiver.repasswordNew = this.repassword_new;
        console.log("this.$.receiver.passwordOld", this.$.receiver.passwordOld);
        console.log("this.$.receiver.passwordNew", this.$.receiver.passwordNew);
        console.log("this.$.receiver.repasswordNew", this.$.receiver.repasswordNew);
        // this.$.receiver.userid = this.userid;

      }

      // _volverCambioClave() {
      //   console.log("_volverCambioClave");
      //
      //   console.log("lanzo evento eventnuevacuenta en botones-opciones-cuentas");
      //   this.dispatchEvent(
      //      new CustomEvent(
      //        "eventvolverCambioClave",
      //        {
      //           "detail": {
      //             // ponemos lo que queramos que llegue al exterior
      //             "userid": this.userid
      //
      //           }
      //        }
      //      )
      //    )
      // }

      // _CambioClave() {
      //   console.log("_CambioClave");
      //   console.log("lanzo evento eventCambioClave en botones-opciones-cuentas");
      //
      //   this.dispatchEvent(
      //      new CustomEvent(
      //        "eventCambioClave",
      //        {
      //           "detail": {
      //             // ponemos lo que queramos que llegue al exterior
      //             "userid": this.userid
      //
      //           }
      //        }
      //      )
      //    )
      // }


    }

    window.customElements.define(CambioClave.is, CambioClave);
  </script>
</dom-module>
