<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-progress-bar/vaadin-progress-bar.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <visor-cabecera-logout  nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            userid="[[id]]">
    </visor-cabecera-logout>

    <vaadin-progress-bar indeterminate hidden$="{{!mostrarbarra}}"></vaadin-progress-bar>

    <visor-cuenta id="receiver"
                  userid="[[id]]"
                  on-eventcuentaseleccionada="_cuentaseleccionada"
                  mostrar-cuentas="[[mostrarCuentas]]">
    </visor-cuenta>

    <alta-cuenta
          mostrar-alta-cuenta="[[mostrarAltaCuenta]]"
          userid ="[[id]]"
          on-eventvolveraltacuenta="_volverNuevaCuenta"
          on-eventaltacuenta="_nuevaCuenta">
    </alta-cuenta>

    <cargo-abono
          mostrar-cargo-abono="[[mostrarCargoAbono]]"
          userid ="[[id]]"
          saldo="[[saldo]]"
          divisa="[[divisa]]"
          iban="[[iban]]"
          idcuenta="[[idcuenta]]"
          on-eventvolvercargoabono="_volverCargoAbono"
          on-eventcargoabono="_cargoAbono">
    </cargo-abono>


    <botones-opciones-cuentas  userid="[[id]]"
                               idcuenta="[[idcuenta]]"
                               idcliente="[[idcliente]]"
                               iban="[[iban]]"
                               saldo="[[saldo]]"
                               on-eventnuevacuenta="_processNuevaCuenta"
                               on-eventcargoabono="_processCargoAbono"
                               mostrar-cuentas="[[mostrarCuentas]]">
    </botones-opciones-cuentas>



    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v3/users/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String
          }, primer_apellido: {
              type: String
          }, segundo_apellido: {
              type: String
          }, email: {
              type: String
          }, id: {
              type: Number
          }, mostrarCuentas: {
              type: Boolean,
              value: true
          },mostrarAltaCuenta: {
            type: Boolean,
            value: false
          },mostrarCargoAbono: {
            type: Boolean,
            value: false
          },saldo: {
            type: Number
          },divisa: {
            type: String
          },iban: {
            type: String
          },mostrarbarra: {
            value:true,
            type: Boolean
          }
        }
      }
      showData(data) {
        console.log ("showData");
      //  console.log(data.detail); este no funciona
        console.log(data.detail.response);
        this.$.receiver.mostrarCuentas = true;
        // this.$.receiver2.mostrarPerfil = false;

        this.nombre = data.detail.response.nombre;
        this.primer_apellido = data.detail.response.primer_apellido;
        this.segundo_apellido = data.detail.response.segundo_apellido;
        this.email = data.detail.response.email;

        this.mostrarbarra=false;


      }

      _cuentaseleccionada(e) {
        console.log("_cuentaseleccionada");
        console.log("evento:",e);
        this.idcuenta= e.detail.idcuenta;
        this.idcliente= e.detail.idcliente;
        this.saldo= e.detail.saldo;
        this.divisa= e.detail.divisa;
        this.iban= e.detail.iban;
        console.log("this.idcuenta:", this.idcuenta);
        console.log("this.idcliente:", this.idcliente);
        console.log("this.saldo:", this.saldo);
        console.log("this.divisa:", this.divisa);
        console.log("this.iban:", this.iban);
      }

      _processNuevaCuenta() {
        console.log("_processNuevaCuenta");
        this.mostrarAltaCuenta=true;
        this.mostrarCuentas=false;
      }

      _volverNuevaCuenta() {
        console.log("_volverNuevaCuenta");
        this.mostrarAltaCuenta=false;
        this.mostrarCuentas=true;
      }

      _nuevaCuenta(e) {
        console.log("__nuevaCuenta");
        this.mostrarAltaCuenta=false;
        this.mostrarCuentas=true;

        //  console.log("window.location: actualizarperfil/",this.userid);
         this.mostrarbarra=true;
         window.location = "/user/" + e.detail.userid;
         this.mostrarbarra=true;
      }

      _processCargoAbono() {
        console.log("_processCargoAbono");
        this.mostrarCargoAbono=true;
        this.mostrarCuentas=false;
      }

      _volverCargoAbono() {
        console.log("_volverCargoAbono");
        this.mostrarCargoAbono=false;
        this.mostrarCuentas=true;
      }

      _cargoAbono(e) {
        console.log("_cargoAbono");
        this.mostrarCargoAbono=false;
        this.mostrarCuentas=true;

        //  console.log("window.location: actualizarperfil/",this.userid);
         this.mostrarbarra=true;
         window.location = "/user/" + e.detail.userid;
         this.mostrarbarra=false;
      }



      // processmostrarPerfil(e) {
      //   console.log("processmostrarPerfil - Muestra WC <mantenimiento-cliente>");
      //   console.log(e);
      //   console.log("Capturado evento de mostrarperfil");
      //   console.log(e.detail);
      //   this.$.receiver.mostrarCuentas = false;
      //   this.$.receiver2.mostrarPerfil = true;
      //
      // }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
