<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="cargo-abono">
  <template>
    <style>
      :host {
        display: block;
      }

      .marco{
        padding:5px;
        width:225px;
        height:300px;
        background: white;
        border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        text-align: center;
        position:relative;
        top:50px;
        left:400px
      }

      .cabecera{
        padding:5px;
        width:225px;
        height:30px;
        background-color: grey;
        border: solid 1px grey;
        color: white;
        position:relative;
        top:50px;
        left:400px
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>


    <div class="col-sm-8  offset-3" hidden$="{{!mostrarCargoAbono}}">
        <br>
        <br>
        <br>

        <div class="form-group row">
          <label for="ibanOrigen" class="col-sm-2 col-form-label">Cuenta:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" value="[[iban]]"
                       id="ibanOrigen" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label for="saldo" class="col-sm-2 col-form-label">Saldo Disponible</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-saldo" value="[[saldo]] [[divisa]]"
                       id="saldo" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputConcepto" class="col-sm-2 col-form-label">Concepto</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" value="{{concepto::input}}" id="inputConcepto" placeholder="Concepto">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputImporte" class="col-sm-2 col-form-label">Importe (+/-)</label>
          <div class="col-sm-3">
            <input type="number" class="form-control" value="{{importe::input}}" step="0.01" id="inputImporte" placeholder="Importe">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputDivisa" class="col-sm-2 col-form-label">Divisa</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" value="[[divisa]]" id="idDivisa" disabled>
          </div>
        <div>

      <botones-cargo-abono
            id="receiver"
            mostrar-cargo-abono="[[mostrarCargoAbono]]"
            on-eventcargoabono="_cargoabono"
            on-eventvolvercargoabono="_volverCargoAbono"
            userid=[[userid]]
            saldo="[[saldo]]"
            divisa="[[divisa]]"
            idcuenta="[[idcuenta]]"
            concepto=[[concepto]]>
      </botones-cargo-abono>


    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CargoAbono extends Polymer.Element {
      static get is() { return 'cargo-abono'; }
      static get properties() {
        return {
          importe: {
            type: Number,
            observer:"_dataChanged"
          },divisa: {
            type: String
          },saldo: {
            type: Number
          }, mensaje: {
            type: String
          },dialogOpen: {
             type: Boolean
          },concepto: {
            type: String,
            observer:"_dataChanged"
          }
          // , userid: {
          //    type: Number
          // }
        }
      }

      _dataChanged() {

        this.$.receiver.importe  = this.importe;
        // this.$.receiver.divisa = this.$.inputDivisa.value;
        this.$.receiver.concepto = this.concepto;

      }


      _volverCargoAbono() {
        console.log("_volverCargoAbono");

        this.divisa ="";
        this.importe="";
        this.concepto = ""
        console.log("lanzo evento eventnuevacuenta en botones-opciones-cuentas");
        this.dispatchEvent(
           new CustomEvent(
             "eventvolvercargoabono",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }

      _cargoabono() {
        console.log("_cargoabono");
        console.log("lanzo evento eventcargoabono en botones-opciones-cuentas");

        this.dispatchEvent(
           new CustomEvent(
             "eventcargoabono",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }


    }

    window.customElements.define(CargoAbono.is, CargoAbono);
  </script>
</dom-module>
