<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-mantenimiento-clientes">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <div class="container">
     <br>
    <div class="row">
      <div class="col-sm offset-7">
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <button class="btn btn-primary" on-click="actualizar">Actualizar</button>
      </div>
    </div>
   </div>

   <iron-ajax
     id="doCliente"
     url="http://localhost:3000/apitechu/v3/users/{{userid}}"
     handle-as="json"
     content-type="application/json"
     method="PUT"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesMantenimientoClientes extends Polymer.Element {
     static get is() { return 'botones-mantenimiento-clientes'; }
     static get properties() {
       return {
         nombre: {
           type: String
         },primerApellido: {
           type: String
         },userid: {
           type: Number
         },dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },mantenimientoClienteOK: {
            type: Boolean,
            value: false
          }
       };
     }

     volver() {

      console.log("volver en botones-mantenimiento-clientes");
      window.location = "/user/" + this.userid;
    }

     actualizar(data) {

      console.log("actualizar en botones-mantenimiento-clientes");
      console.log("data:", data);
      console.log("datos del cliente a actualizar", this.nombre);

      if (!this.email || !this.direccion || !this.poblacion || !this.provincia || !this.codigopostal ) {
        this.mensaje ="Complete los campos, por favor"
        this.dialogOpen = true;
        this.mantenimientoClienteOK = false;
      }
      else  {
        var userData = {
            "nombre": this.nombre,
            "primer_apellido": this.primer_apellido,
            "segundo_apellido": this.segundo_apellido,
            "email":this.email,
            "telefono": this.telefono,
            "direccion": this.direccion,
            "poblacion": this.poblacion,
            "provincia": this.provincia,
            "codigopostal": this.codigopostal
        }
        this.$.doCliente.body = JSON.stringify(userData);
        this.$.doCliente.generateRequest();
      }
    }

    manageAJAXResponse(data) {
      // función manejadora de la respuesta correcta
      console.log("API ejecutada");
      console.log(data.detail.response);
      console.log(data.detail.response.idUsuario);

      this.dialogOpen = true
      this.mantenimientoClienteOK = true;
      this.mensaje =" Datos guardados con éxito! "
      console.log("this.dialogOpen", this.dialogOpen);
    }

    showError(e, error) {
      console.log ("showError");

      console.log(error.request.status);
      console.log(error.request.response);
      console.log(e);
      this.dialogOpen = true
      this.mensaje=error.request.response.msg;
    }

    closeDialog() {
      console.log ("closeDialog");

      this.dialogOpen = false

      if (this.mantenimientoClienteOK) {
        this.dialogOpen = false
        console.log("this.dialogOpen", this.dialogOpen);
        window.location = "/user/" + this.userid;
      }
    }

   }
   window.customElements.define(BotonesMantenimientoClientes.is, BotonesMantenimientoClientes);
 </script>
</dom-module>
