<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-alta-cliente">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <div class="container" hidden$="{{!mostrarRegistrarse}}">
    <div class="row">
      <div class="col-sm"> </div>
      <div class="col-sm">
        <!-- <vaadin-button  on-click="volver">Volver</vaadin-button>
        <vaadin-button hidden$="{{!isDatosRellenos}}" on-click="actualizar">Actualizar</vaadin-button> -->
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <!-- <button class="btn btn-primary" hidden$="{{!isDatosRellenos}}" on-click="actualizar">Actualizar</button> -->
        <button class="btn btn-primary" on-click="actualizar">Actualizar</button>
      </div>
    </div>
   </div>

   <iron-ajax
     id="doUsuario"
     url="http://localhost:3000/apitechu/v3/users"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>

      <!-- <button onclick="myFunction()">Login</button> -->
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesAltaCliente extends Polymer.Element {
     static get is() { return 'botones-alta-cliente'; }
     static get properties() {
       return {
         dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },userid: {
            type: String
         },altaOK: {
            type: Boolean,
            value: false
         }
       };
     }

    volver() {

      console.log("volver en botones-alta-cliente");

      // window.location = "/" ;
      console.log("lanzo evento eventvolveraltacliente en botones-alta-cliente");
       this.dispatchEvent(
         new CustomEvent(
           "eventvolveraltacliente",
           {}
         )
       )
    }

    actualizar(data) {

      console.log("actualizar en botones-alta-cliente");
      console.log("isDatosRellenos", this.isDatosRellenos);



      if (!this.dni || !this.email || !this.password || !this.repassword ||
          !this.nombre || !this.primer_apellido || !this.segundo_apellido ||
          !this.telefono || !this.direccion || !this.poblacion ||
          !this.provincia || !this.codigopostal) {

          this.mensaje = "Complete todos los campos, por favor!"
          this.dialogOpen = true;
          this.altaOK = false;

          }
      else {

        var userData ={
         "dni" : this.dni,
         "email" :this.email,
         "password" :this.password,
         "nombre" :this.nombre,
         "primer_apellido" :this.primer_apellido,
         "segundo_apellido" :this.segundo_apellido,
         "telefono" :this.telefono,
         "direccion" :this.direccion,
         "poblacion" :this.poblacion,
         "provincia" :this.provincia,
         "codigopostal" :this.codigopostal
        };

        console.log("userData", userData);

        if (this.password != this.repassword) {
         console.log("password no coincide");
         this.mensaje = "Up, Passwords no coinciden!!"
         this.dialogOpen = true;
         this.altaOK = false;
        }
        else {

          this.$.doUsuario.body = JSON.stringify(userData);
          this.$.doUsuario.generateRequest();
          console.log("Peticion enviada");
        }
      }
    }

    manageAJAXResponse(data) {
      // función manejadora de la respuesta correcta
      console.log("manageAJAXResponse");
      console.log(data.detail.response);

      this.dialogOpen = true
      this.mensaje =" Datos guardados con éxito! "

      this.userid = data.detail.response.idUsuario;
      console.log("userid", this.userid);
      this.altaOK = true;

    }

    showError(e, error) {
      console.log ("showError");
      console.log(error.request.status);
      console.log(error.request.response);

      this.dialogOpen = true
      this.mensaje=error.request.response.msg;
      this.altaOK = false
    }

    closeDialog() {
      console.log ("closeDialog");

      this.dialogOpen = false

      if (this.altaOK) {
        console.log("lanzo evento eventconectado en botones-alta-cliente");
        this.dispatchEvent(
          new CustomEvent(
           "eventconectado",
            {
              "detail": {
                // ponemos lo que queramos que llegue al exterior
                "idUsuario": this.userid
              }
           }
         )
        )
      }
    }

   }
   window.customElements.define(BotonesAltaCliente.is, BotonesAltaCliente);
 </script>
</dom-module>
