<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- <label>Email </label>
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input> -->
    <!-- <button on-click="logout">Logout</button> -->

      <!-- content-type="application/json" -->

    <iron-ajax
      auto
      id="doLogout"
      url="http://localhost:3000/apitechu/v3/logout/{{id}}"
      handle-as="json"
      method="POST"
      on-response="manageAJAXResponse"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          }

        }
      }

      logout() {

        console.log("El usuario quiere deslogarse");
        console.log("voy a enviar la petición");
        console.log("valor parametro entrada id: ",id);

        // var userId = JSON.parse(localStorage.getItem("userIdJSON"));
        var userId = localStorage.getItem("userIdJSON");

        console.log("usuario se quiere deslogar userId: " + userId);


// Enviar el id al backend parametro de url

        this.id = userId;
        this.$.doLogout.generateRequest();
// Enviar el id al backend en el body. Lo hemos cambiado a parametro de url
/*        var logoutData ={
           "id" : userId
         };

         console.log("logoutData" + JSON.stringify(logoutData));

        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
*/
        console.log("Peticion enviada");
      }

      manageAJAXResponse() {
        console.log("API de logout ejecutada");

        window.location = "/";

      }
      // showData(data) {
      //   console.log ("showData");
      // //  console.log(data.detail); este no funciona
      //   console.log(data.detail.response);
      //   this.first_name = data.detail.response.first_name;
      //   this.last_name = data.detail.response.last_name;
      //   this.email = data.detail.response.email;
      //
      // }
    }



    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
