<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-criterios-busqueda-movimientos">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <div class="container" hidden$="{{!mostrarbuscarMovimientos}}">
     <br>
    <div class="row">
      <div class="col-sm offset-10">
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <button class="btn btn-primary" on-click="buscarMovimientos">Buscar</button>
      </div>
    </div>
   </div>

   <iron-ajax
     id="searchMovimientos"
     url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}/searchmovements/{{fechadesde}}/{{fechahasta}}/{{importedesde}}/{{importehasta}}"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesCriteriosBusquedaMovimientos extends Polymer.Element {
     static get is() { return 'botones-criterios-busqueda-movimientos'; }
     static get properties() {
       return {
         dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },idcuenta: {
            type: Number
         },userid: {
            type: Number
         },altaCuentaOK: {
            type: Boolean,
            value: false
          }
       };
     }

    volver() {

      console.log("volver en botones-criterios-busqueda-movimientos");
      console.log("window.location: Volvemos a raiz");

      window.location = "/user/" + this.userid ;

    }

    buscarMovimientos(data) {

      console.log("buscarMovimientos en botones-criterios-busqueda-movimientos");

      console.log("this.fechadesde",this.fechadesde);
      console.log("this.fechahasta",this.fechahasta);
      console.log("this.importedesde",this.importedesde);
      console.log("this.importehasta",this.importehasta);

      if (!this.fechadesde) {
        this.fechadesde = "0001-01-01";
      }

      if (!this.fechahasta) {
        this.fechahasta = "9999-12-31";
      }

      if (!this.importedesde) {
        this.importedesde = -9999999999;
      }

      if (!this.importehasta) {
        this.importehasta = 9999999999;
      }

      this.$.searchMovimientos.generateRequest();
      console.log("Peticion enviada");
    }

    manageAJAXResponse(data) {
      // función manejadora de la respuesta correcta
      console.log("manageAJAXResponse");
      console.log(data.detail.response);

      console.log("lanzo evento eventbuscarMovimientos en botones-criterios-busqueda-movimientos");
       this.dispatchEvent(
         new CustomEvent(
           "eventbuscarmovimientos",
           {
              "detail": {
                // ponemos lo que queramos que llegue al exterior
                "movements": data.detail.response
              }
           }
         )
       )
    }

    showError(e, error) {
      console.log ("showError");
      console.log(error.request.status);
      console.log(error.request.response);

      this.dialogOpen = true
      this.mensaje=error.request.response.msg;

    }

    closeDialog() {
      console.log ("closeDialog");

      this.dialogOpen = false

    }

   }
   window.customElements.define(BotonesCriteriosBusquedaMovimientos.is, BotonesCriteriosBusquedaMovimientos);
 </script>
</dom-module>
