<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<link rel="import" href="../../bower_components/vaadin-progress-bar/vaadin-progress-bar.html">

<dom-module id="visor-transferencia">
  <template>
    <style>
      :host {
        display: block;
      }

      .marco{
        padding:5px;
        width:225px;
        height:300px;
        background: white;
        border: solid 1px grey;
        font-family:arial;
        font-weight:bold;
        color:#EEEEEE;
        text-align: center;
        position:relative;
        top:50px;
        left:400px
      }

      .cabecera{
        padding:5px;
        width:225px;
        height:30px;
        background-color: grey;
        border: solid 1px grey;
        color: white;
        position:relative;
        top:50px;
        left:400px
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

      .form-saldo {
          text-align: right;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>


    <visor-cabecera-logout  nombre="[[nombre]]"
                            primer-apellido="[[primer_apellido]]"
                            userid="[[userid]]">
    </visor-cabecera-logout>

    <vaadin-progress-bar indeterminate hidden$="{{!mostrarbarra}}"></vaadin-progress-bar>


    <button class="btn btn-primary" on-click="_mostrarHistoricoTransferencias">Reutilizar Transferencia</button>

    <historico-transferencias id="receiverHistoricoTransferencias"
                  userid="[[userid]]"
                  idcuenta="[[idcuenta]]"
                  on-eventransferenciaseleccionada="_transferenciaseleccionada"
                  on-eventnoexistentransferencias="_noExistenTransferenciaPrevias"
                  mostrar-transferencias="[[mostrarHistoricoTransferencias]]">
    </historico-transferencias>

    <div class="col-sm-8  offset-3" hidden$="{{!mostrarVisorTransferencia}}">
        <br>
        <br>
        <br>

      <div class="form-group row">
        <label for="ibanOrigen" class="col-sm-2 col-form-label">Cuenta Origen</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" value="[[iban]]"
                     id="ibanOrigen" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="saldo" class="col-sm-2 col-form-label">Saldo Disponible</label>
        <div class="col-sm-3">
          <input type="text" class="form-control form-saldo" value="[[saldo]] [[divisa]]"
                     id="saldo" disabled>
        </div>
      </div>

        <div class="form-group row">
          <label for="inputIbanDestino" class="col-sm-2 col-form-label">Iban Destino</label>
          <div class="col-sm-5">
            <input type="text" style='text-transform:uppercase;' class="form-control" value="{{ibandestino::input}}"
                       id="inputIbanDestino" placeholder="Iban Cuenta Destino">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputImporte" class="col-sm-2 col-form-label">Importe</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-saldo" value="{{importe::input}}" step="0.01" id="inputImporte" placeholder="Importe">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputConcepto" class="col-sm-2 col-form-label">Concepto</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" value="{{concepto::input}}" id="inputConcepto" placeholder="Concepto">
          </div>
        </div>



      <botones-transferencia
            id="receiver"
            mostrar-visor-transferencia="[[mostrarVisorTransferencia]]"
            on-eventVisorTransferencia="_VisorTransferencia"
            on-eventvolverVisorTransferencia="_volverVisorTransferencia"
            userid=[[userid]]
            idcuenta=[[idcuenta]]
            saldo=[[saldo]]
            concepto=[[concepto]]
            divisa=[[divisa]]>
      </botones-transferencia>


    </div>

    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"></iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorTransferencia extends Polymer.Element {
      static get is() { return 'visor-transferencia'; }
      static get properties() {
        return {
          ibandestino: {
            type: String,
            observer:"_dataChanged"
          },importe: {
            type: Number,
            observer:"_dataChanged",
            value:0
          },concepto: {
            type: String,
            observer:"_dataChanged"
          }, mensaje: {
            type: String
          },dialogOpen: {
             type: Boolean
          }, userid: {
            type: Number
          }, idcuenta: {
            type: Number
          }, iban: {
            type: String
          }, saldo: {
            type: Number
          }, divisa: {
            type: String
          }, mostrarHistoricoTransferencias: {
            type: Boolean,
            value: false
          }, noExistenTransferenciasPrevias: {
            type: Boolean,
            value: false
          },mostrarbarra: {
            value:true,
            type: Boolean
          }
          // , userid: {
          //    type: Number
          // }
        }
      }

      _mostrarHistoricoTransferencias() {
        console.log("_mostrarHistoricoTransferencias");

        if (this.noExistenTransferenciasPrevias) {
            this.dialogOpen = true
            this.mensaje ="No existen transferencias anteriores!"
            console.log("this.dialogOpen", this.dialogOpen);
        } else {
            this.mostrarHistoricoTransferencias = true;
          }

      }

      _noExistenTransferenciaPrevias() {
        console.log("_noExistenTransferenciaPrevias");

        this.noExistenTransferenciasPrevias = true


      }

      _transferenciaseleccionada(e) {

        console.log("_transferenciaseleccionada");
        console.log("evento:",e);
        this.ibandestino= e.detail.ibandestino;
        this.importe= e.detail.importe;
        this.concepto= e.detail.concepto;

      }


      showData(data) {
        console.log ("showData");
        console.log("userid", this.userid);
        console.log("idcuenta", this.idcuenta);
      //  console.log(data.detail); este no funciona
        console.log(data.detail.response);
        console.log(data.detail.response.iban);
        console.log(data.detail.response.saldo);
        // this.$.receiver.mostrarCuentas = true;
        // this.$.receiver2.mostrarPerfil = false;

        this.iban = data.detail.response.iban;
        this.saldo = data.detail.response.saldo;
        this.divisa = data.detail.response.divisa;

        this.mostrarbarra=false;
      }

      _dataChanged() {

        this.$.receiver.ibandestino   = this.ibandestino;
        this.importe = parseInt(this.importe);
        this.$.receiver.importe  = this.importe;
        this.$.receiver.concepto = this.concepto;
        // this.$.receiver.userid = this.userid;

      }

      _volverVisorTransferencia() {
        console.log("_volverVisorTransferencia");

        this.concepto = ""
        this.ibandestino="";
        this.importe=0;
        console.log("lanzo evento eventnuevacuenta en botones-opciones-cuentas");
        this.dispatchEvent(
           new CustomEvent(
             "eventvolverVisorTransferencia",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }

      _VisorTransferencia() {
        console.log("_VisorTransferencia");
        console.log("lanzo evento eventVisorTransferencia en botones-opciones-cuentas");

        this.dispatchEvent(
           new CustomEvent(
             "eventVisorTransferencia",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }

      closeDialog() {
        console.log ("closeDialog");
        this.dialogOpen = false
        console.log("this.dialogOpen", this.dialogOpen);
      }


    }

    window.customElements.define(VisorTransferencia.is, VisorTransferencia);
  </script>
</dom-module>
