<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<dom-module id="lista-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>

    <!-- <div hidden$="{{!mostrarCuentas}}"> Lista Movimientos: </div> -->
    <div> Lista Movimientos: </div>
    <!-- <template is="dom-repeat" items="{{accounts}}">
       <div>IBAN: <span>{{item.IBAN}}</span></div>
       <div>Balance: <span>{{item.balance}}</span></div>
     </template> -->

    <!-- <vaadin-grid on-active-item-changed="_activeItemChanged" hidden$="{{!mostrarCuentas}}" aria-label="Basic Binding Example" items="[[movements]]"> -->
    <vaadin-grid on-active-item-changed="_activeItemChanged" aria-label="Basic Binding Example" items="[[movements]]">

       <vaadin-grid-column width="60px" flex-grow="0">
         <template class="header">#</template>
         <template>[[index]]</template>
         <!-- If necessary, the footer could be set using <template class="footer"> -->
         <template class="footer">#</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Fecha</template>
         <template>[[item.fechaoperacion]]</template>
         <template class="footer">Fecha</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Texto</template>
         <template>[[item.texto]]</template>
         <template class="footer">Texto</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Importe</template>
         <template>[[item.importe]] [[item.divisa]]</template>
         <template class="footer">Importe</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Fecha Valor</template>
         <template>[[item.fechavalor]]</template>
         <template class="footer">Fecha Valor</template>
       </vaadin-grid-column>

    </vaadin-grid>


    <iron-ajax
      auto
      id="getMovements"
      url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}/movement"
      handle-as="json"
      on-response="showData"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer

     */

    class ListaMovimientos extends Polymer.Element {
      static get is() { return 'lista-movimientos'; }
      static get properties() {
        return {
          movements:{
            type:Array
          // },
          // idAccount: {
          //   type: Number
          // },iban: {
          //   type: String
          // }, balance: {
          //   type: Number
          }, userid: {
            type: Number
          },dialogOpen: {
             type: Boolean
          },mensaje: {
             type: String
          },texto: {
             type: String
          },tmsmovimiento: {
             type: Number
          },contador: {
             type: Number,
             value:0
          }

        }
      }
      showData(data) {
        console.log ("showData");
        console.log("idcuenta",this.idcuenta);
      //  console.log(data.detail); este no funciona
        console.log(data.detail.response);

        this.movements=data.detail.response;

        // this.iban = data.detail.response[0].IBAN;
        // this.balance = data.detail.response[0].balance;
        // this.userId = data.detail.response[0].userId;
        // this.idAccount = data.detail.response[0].idAccount;
        }

      _activeItemChanged (e) {

        console.log ("_activeItemChanged");
        console.log("pinchado en una fila");
        console.log("evento:", e);
        console.log("e.detail.value", e.detail.value);
        // console.log(item.detail.value.saldo);

        const item = e.detail.value;
        console.log("e.target:",e.target);
        e.target.selectedItems = item ? [item] : [];


        if (this.contador !=0) {
          this.tmsmovimiento = e.detail.value.tmsmovimiento;
          this.texto = e.detail.value.texto;

          console.log("lanzo evento eventmovimientoseleccionado en _activeItemChanged");
          this.dispatchEvent(
            new CustomEvent(
             "eventmovimientoseleccionado",
              {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "idcliente": e.detail.value.idcliente,
                  "idcuenta": e.detail.value.idcuenta,
                  "tmsmovimiento": e.detail.value.tmsmovimiento
                }
             }
           )
          )
        }
        this.contador +=1;
      }


      showError(data) {
        console.log ("showError");
        this.dialogOpen = true
        this.mensaje ="Cuentas sin movimientos!"
        console.log("this.dialogOpen", this.dialogOpen);
      }

      closeDialog() {
        console.log ("closeDialog");
        this.dialogOpen = false
        console.log("this.dialogOpen", this.dialogOpen);
      }




    }

    window.customElements.define(ListaMovimientos.is, ListaMovimientos);
  </script>
</dom-module>
