<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<dom-module id="botones-cargo-abono">
 <template>
   <style>
      :host {
         display: block;
      }

      a {
         color:blue;
      }

      a:visited {
      color:green;
      }

      label {
         color:blue;
         padding:10px 0;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }

   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <vaadin-dialog opened$="{{dialogOpen}}">
     <template>
       <div class="dialog-message">
       {{mensaje}}
       <br><br>
       <vaadin-button on-click="closeDialog">Ok</vaadin-button>
     </template>
   </vaadin-dialog>

   <div class="container" hidden$="{{!mostrarcargoAbono}}">
     <br><br>
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-primary" on-click="volver">Volver</button>
        <button class="btn btn-primary" on-click="cargoAbono">Actualizar</button>
      </div>
    </div>
   </div>


   <iron-ajax
     id="doMovimiento"
     url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}/movement"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXResponseMovimiento"
     on-error="showError"></iron-ajax>

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class BotonesCargoAbono extends Polymer.Element {
     static get is() { return 'botones-cargo-abono'; }
     static get properties() {
       return {
         dialogOpen: {
            type: Boolean
         },mensaje: {
            type: String
         },idcuenta: {
            type: Number
         },userid: {
            type: Number
         },saldo: {
            type: Number
         },cargoAbonoOK: {
            type: Boolean,
            value: false
         },importe: {
            type: Number
         },divisa: {
            type: String
         },concepto: {
            type: String
         }
       };
     }

    volver() {

      console.log("volver en botones-cargo-abono");
      console.log("window.location: Volvemos a raiz");

      console.log("lanzo evento eventvolvercargoabono en botones-cargo-abono");
       this.dispatchEvent(
         new CustomEvent(
           "eventvolvercargoabono",
           {
              "detail": {
                // ponemos lo que queramos que llegue al exterior
                "userid": this.userid

              }
           }
         )
       )
    }

    cargoAbono(data) {

      console.log("cargoAbono en botones-cargo-abono");

      console.log("this.divisa",this.divisa);
      console.log("this.importe",this.importe);
      this.importe = this.importe *1
      console.log("this.importe",this.importe);
      console.log("this.concepto",this.concepto);
      console.log("this.idcuenta",this.idcuenta);
      console.log("this.saldo",this.saldo);

      if (!this.importe || !this.concepto) {
        this.mensaje ="Complete los campos, por favor"
        this.dialogOpen = true;
        this.cargoAbonoOK = false;
      }
      else {
        if (this.importe < 0 && (this.saldo + this.importe) < 0) {
          this.mensaje ="Saldo insuficiente"
          this.dialogOpen = true;
          this.cargoAbonoOK = false;
        }
        else {
    //    crea el movimiento
          console.log("this.userid", this.userid);
          console.log("this.idcuenta", this.idcuenta);
          var importeMovimiento = this.importe * 1;
          console.log("importeMovimiento", importeMovimiento);
          console.log("this.concepto", this.concepto);
          var movementData ={
            "idcliente": this.userid,
            "idcuenta": this.idcuenta,
            "importe": importeMovimiento,
            "divisa": this.divisa,
            "texto": this.concepto,
            "latitude": 44.181054,
            "longitude": 129.171996
          };

          console.log("movementData", movementData);

          this.$.doMovimiento.body = JSON.stringify(movementData);
          this.$.doMovimiento.generateRequest();

          console.log("Peticion enviada");
        }
      }
    }

    manageAJAXResponseMovimiento(data) {
      // función manejadora de la respuesta correcta
      console.log("manageAJAXResponseMovimiento");

      this.dialogOpen = true
      this.mensaje ="Operación realizada"
      this.cargoAbonoOK = true;

    }

    showError(e, error) {
      console.log ("showError");
      console.log(error.request.status);
      console.log(error.request.response);

      this.dialogOpen = true
      this.mensaje=error.request.response.msg;

    }

    closeDialog() {
      console.log ("closeDialog");

      this.dialogOpen = false
      // window.location = "/user/" + this.userid ;

      if (this.cargoAbonoOK) {
        console.log("lanzo evento eventcargoAbono en alta-cuenta");
         this.dispatchEvent(
           new CustomEvent(
             "eventcargoabono",
             {
                "detail": {
                  // ponemos lo que queramos que llegue al exterior
                  "userid": this.userid

                }
             }
           )
         )
      }

    }

   }
   window.customElements.define(BotonesCargoAbono.is, BotonesCargoAbono);
 </script>
</dom-module>
