<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="visor-cabecera">
 <template>
   <style>
       :host {
        display: block;
      }

      a {
          color:blue;
      }

      a:visited {
       color:green;
      }


   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <div class="container">
     <div class="row">
       <div class="col-sm"> </div>
       <div class="col-sm"> </div>
       <div class="col-sm">

         <a hidden$="{{isLogged}}" on-click="gestionarLogin">Login</a>
         <a hidden$="{{isLogged}}" href="/registrarse">Registrarse</a>
         <a hidden$="{{!isLogged}}" href="/logout/:id">Logout</a>

       </div>
     </div>
   </div> -->

 <!-- Estilo 1 de cabecera -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       <a class="nav-item nav-link" on-click="gestionarLogin">Login</a>
       <a class="nav-item nav-link" on-click="gestionarRegistrarse">Registrarse</a>
     </div>
   </div>
 </nav>
   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Navbar</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
       <a class="nav-item nav-link" on-click="gestionarLogin">Login</a>
       <a class="nav-item nav-link" on-click="gestionarRegistrarse">Registrarse</a>
       <a class="nav-item nav-link disabled" href="#">Disabled</a>
     </div>
   </div>
 </nav> -->


<!-- Estilo 2 de cabecera -->
   <!-- <ul class="nav justify-content-end">
     <li class="nav-item">
       <a class="nav-link active" href="#">Active</a>
     </li>

     <li class="nav-item">
       <a class="nav-link active" href="#">Prueba</a>
     </li>

     <li class="nav-item">
       <a class="nav-link active" on-click="gestionarLogin">Login</a>
     </li>
     <li class="nav-item">
       <a class="nav-link active" on-click="gestionarRegistrarse">Registrarse</a>
     </li>
     <li class="nav-item">
       <a class="nav-link disabled" href="#">Logout</a>
     </li>
   </ul> -->



   <!-- <div class="container">
    <div class="row">
      <div class="col-sm"> </div>
      <div class="col-sm"> </div>
      <div class="col-sm">
        <vaadin-button on-click="gestionarLogin">Login</vaadin-button>
        <vaadin-button on-click="gestionarRegistrarse">Registrarse</vaadin-button>

      </div>
    </div>
   </div> -->


      <!-- <button onclick="myFunction()">Login</button> -->
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCabecera extends Polymer.Element {
     static get is() { return 'visor-cabecera'; }
     static get properties() {
       return {
        //  isLogged: {
        //    type: Boolean,
        //    value: false
        //  }
        //  ,
        //  course: {
        //    type: String,
        //    observer:'_courseChanged'
        //  }, year: {
        //    type: String
        //  }
       };
     }


     gestionarLogin() {
       console.log("gestionarLogin en visor-cabecera");
       console.log("lanzo evento eventlogin");

       //ojo!, no poner mayusculas en nombre de evento
        this.dispatchEvent(
          new CustomEvent(
            "eventlogin",
            {
               "detail": {
                 // ponemos lo que queramos que llegue al exterior
                 "mostrarLogin": true
               }
            }
          )
        )
      }


      gestionarRegistrarse() {
        console.log("gestionarRegistrarse en visor-cabecera");
        console.log("lanzo evento eventregistrarse");

        //ojo!, no poner mayusculas en nombre de evento
         this.dispatchEvent(
           new CustomEvent(
             "eventregistrarse",
             {
                // "detail": {
                //   // ponemos lo que queramos que llegue al exterior
                //   "mostrarLogin": true
                //}
             }
           )
         )
       }

   }
   window.customElements.define(VisorCabecera.is, VisorCabecera);
 </script>
</dom-module>
