<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<dom-module id="historico-transferencias">
  <template>
    <style>
      :host {
        display: block;
      }

      vaadin-form-layout.with-text-fields > vaadin-text-field {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      .dialog-message {
          text-align: center
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <vaadin-dialog opened$="{{dialogOpen}}">
      <template>
        <div class="dialog-message">
        {{mensaje}}
        <br><br>
        <vaadin-button on-click="closeDialog">Ok</vaadin-button>
      </template>
    </vaadin-dialog>

    <div hidden$="{{!mostrarTransferencias}}"> Lista transferencias: </div>
    <!-- <div> Lista transferencias: </div> -->
    <!-- <template is="dom-repeat" items="{{accounts}}">
       <div>IBAN: <span>{{item.IBAN}}</span></div>
       <div>Balance: <span>{{item.balance}}</span></div>
     </template> -->

    <!-- <vaadin-grid on-active-item-changed="_activeItemChanged" hidden$="{{!mostrarCuentas}}" aria-label="Basic Binding Example" items="[[transfers]]"> -->
    <vaadin-grid on-active-item-changed="_activeItemChanged" aria-label="Basic Binding Example" items="[[transfers]]" hidden$="{{!mostrarTransferencias}}">

       <vaadin-grid-column width="60px" flex-grow="0">
         <template class="header">#</template>
         <template>[[index]]</template>
         <!-- If necessary, the footer could be set using <template class="footer"> -->
         <template class="footer">#</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Fecha</template>
         <template>[[item.fechaoperacion]]</template>
         <template class="footer">Fecha</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Importe</template>
         <template>[[item.importe]]</template>
         <template class="footer">Importe</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Iban Destino</template>
         <template>[[item.ibandestino]]</template>
         <template class="footer">Iban Destino</template>
       </vaadin-grid-column>

       <vaadin-grid-column>
         <template class="header">Divisa Destino</template>
         <template>[[item.divisadestino]]</template>
         <template class="footer">Divisa Destino</template>
       </vaadin-grid-column>


       <vaadin-grid-column>
         <template class="header">Concepto</template>
         <template>[[item.concepto]]</template>
         <template class="footer">Concepto</template>
       </vaadin-grid-column>

    </vaadin-grid>


    <iron-ajax
      id="getTransfers"
      url="http://localhost:3000/apitechu/v3/products/{{userid}}/accounts/{{idcuenta}}/transfer"
      handle-as="json"
      on-response="showData"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer

     */

    class HistoricoTransferencias extends Polymer.Element {
      static get is() { return 'historico-transferencias'; }
      static get properties() {
        return {
          transfers:{
            type:Array
          // },
          // idAccount: {
          //   type: Number
          // },iban: {
          //   type: String
          // }, balance: {
          //   type: Number
          }, userid: {
            type: Number
          },dialogOpen: {
             type: Boolean
          },mensaje: {
             type: String
          },contador: {
             type: Number,
             value:0
          },primeraActivacion: {
             type: Boolean
          }

        }
      }
      showData(data) {
        console.log ("showData");
        console.log("idcuenta",this.idcuenta);
      //  console.log(data.detail); este no funciona
        console.log(data.detail.response);

        this.transfers=data.detail.response;

      }

      _activeItemChanged (e) {
        console.log ("_activeItemChanged");
        console.log("pinchado en una fila");
        console.log("evento:", e);
        console.log("e.detail.value", e.detail.value);

        const item = e.detail.value;
        console.log("e.target:",e.target);
        e.target.selectedItems = item ? [item] : [];

        if (this.contador == 0) {
          this.$.getTransfers.generateRequest();
          this.primeraActivacion = true;
        } else {
            this.primeraActivacion = false;
            console.log("lanzo evento eventransferenciaseleccionada en _activeItemChanged");
            this.dispatchEvent(
              new CustomEvent(
               "eventransferenciaseleccionada",
                {
                  "detail": {
                    // ponemos lo que queramos que llegue al exterior
                    "ibandestino": e.detail.value.ibandestino,
                    "importe": e.detail.value.importe,
                    "concepto": e.detail.value.concepto
                  }
               }
             )
            )
          }
        this.contador +=1;
      }


      showError(e, error) {
        console.log ("showError");

        console.log(error.request.status);
        console.log(error.request.response);

        console.log("lanzo evento eventnoexistentransferencias en showError");
        this.dispatchEvent(
          new CustomEvent(
           "eventnoexistentransferencias",
            {
              // "detail": {
              //   // ponemos lo que queramos que llegue al exterior
              //   "ibandestino": item.detail.value.ibandestino,
              //   "importe": item.detail.value.importe,
              //   "concepto": item.detail.value.concepto
              // }
           }
         )
        )
        // if (!this.primeraActivacion) {
        //   this.dialogOpen = true
        //   this.mensaje ="No existen transferencias anteriores!"
        //   console.log("this.dialogOpen", this.dialogOpen);
        // }
      }

      closeDialog() {
        console.log ("closeDialog");
        this.dialogOpen = false
        console.log("this.dialogOpen", this.dialogOpen);
      }




    }

    window.customElements.define(HistoricoTransferencias.is, HistoricoTransferencias);
  </script>
</dom-module>
